# Default values for scheduled_s3_uploader_chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: scheduled_s3_uploader
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
   cpu: 100m
   memory: 200Mi
  requests:
   cpu: 100m
   memory: 200Mi

nodeSelector: {}

tolerations: []

affinity: {}

cluster: "nightly"

dumpDirHostPath: "/var/log/dumps"

dumpDirMountPath: "/var/log/dumps"

configurations:
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""