apiVersion: batch/v1beta1
kind: CronJob
metadata:
  annotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
  labels:
    app: cap-transfer-logs
  name: cap-transfer-logs
  namespace: default
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 3
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          annotations:
            cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
          creationTimestamp: null
          labels:
            app: cap-transfer-logs
        spec:
          containers:
          - env:
            - name: LOGS_S3_BUCKET
              value: {{ .Values.logsS3Bucket }}
            - name: AWS_ACCESS_KEY_ID
              value: {{ .Values.awsAccessKeyID }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ .Values.awsSecretAccessKey }}
            - name: AWS_REGION
              value: {{ .Values.awsRegion }}
            image: {{ .Values.image }}
            imagePullPolicy: IfNotPresent
            name: cap-transfer-logs
            resources:
              limits:
                cpu: "3"
                memory: 5000Mi
              requests:
                cpu: "3"
                memory: 5000Mi
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
            - mountPath: /var/log/backup-log/
              name: nfsvol
          dnsPolicy: ClusterFirst
          restartPolicy: Never
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          volumes:
          - name: nfsvol
            persistentVolumeClaim:
              claimName: logs-efs-pvc
  schedule: 0 2 * * *
  successfulJobsHistoryLimit: 5
  suspend: false
