<nb-card size=medium>
  <nb-card-header>
    {{newMetrics?.date | date: "dd-MM-yyyy"}} Vs {{oldMetrics?.date | date: "dd-MM-yyyy"}}
  </nb-card-header>
  <nb-card-body>

    <div style="text-align: center;" class="table-responsive">
      <table class="table table-bordered">

        <tbody>
        <tr>
          <th>Metric</th>
          <th>Value( Vs Last Week)</th>
          <th>Change</th>
        </tr>
        </tbody>

<!--        alerts?: number;-->
<!--        criticalCodeSmells?: number;-->
<!--        errors?: number;-->
<!--        fatalErrorsFromLogs?: number;-->
<!--        issuesReported?: number;-->
<!--        outages?: number;-->
<!--        regressionCoverage?: number;-->
<!--        regressionFailures?: number;-->
<!--        responseTime?: number;-->
<!--        unitTests?: number;-->
        <tbody>

        <tr [ngClass]="{'metricDown': newMetrics?.buildFailures > oldMetrics?.buildFailures}">
          <td >Build Failures</td>
          <td>{{newMetrics?.buildFailures}} ({{oldMetrics?.buildFailures}})</td>
          <td>{{newMetrics?.buildFailures - oldMetrics?.buildFailures}}</td>
        </tr>

        <tr [ngClass]="{'metricDown': newMetrics?.criticalCodeSmells > oldMetrics?.criticalCodeSmells}">
          <td >Critical Code Smells</td>
          <td>{{newMetrics?.criticalCodeSmells}} ({{oldMetrics?.criticalCodeSmells}})</td>
          <td>{{newMetrics?.criticalCodeSmells - oldMetrics?.criticalCodeSmells}}</td>
        </tr>

        <tr [ngClass]="{'metricDown': newMetrics?.unitTestCoverage < oldMetrics?.unitTestCoverage}">
          <td >Unit Test Coverage</td>
          <td>{{newMetrics?.unitTestCoverage}} ({{oldMetrics?.unitTestCoverage}})</td>
          <td>{{newMetrics?.unitTestCoverage - oldMetrics?.unitTestCoverage}}</td>
        </tr>

        <tr [ngClass]="{'metricDown': newMetrics?.unitTests < oldMetrics?.unitTests}">
          <td >Unit Tests</td>
          <td>{{newMetrics?.unitTests}} ({{oldMetrics?.unitTests}})</td>
          <td>{{newMetrics?.unitTests - oldMetrics?.unitTests}}</td>
        </tr>



        </tbody>

      </table>
    </div>


  </nb-card-body>
</nb-card>
