<nb-card size="large" *ngIf="stats">
  <nb-card-body>
    <div style="width: 50%; margin: auto; text-align: center; font-size: 200%; margin-top: 10%">
      <div style="padding: 1rem; color: orangered">
      {{stats.applicationCount}}
      Applications
    </div>
    <div style="padding: 1rem; color: blue">
      {{stats.totalBuilds}}
      Builds
    </div>
    <div style="padding: 1rem; color: green">
      {{stats.totalDeployments}}
      Deployments
    </div>
    </div>
  </nb-card-body>
</nb-card>
