.resource-details-head {
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
  }