<app-layout-one-column>
  <span heading>Cluster Resource Details</span>
  <span subheading>Passwords URLs and Ips from this cluster for easier discovery</span>

  <div class="row">
    <div class="col-md-12">
      <nb-card *ngIf="resourceTypes.size > 0">
        <nb-card-body>
          <nb-tabset>
            <nb-tab *ngFor="let tab of resourceTypes" [tabTitle]="tab">
              <div>
                <ng2-smart-table
                [settings]="resourceDetailsSettings"
                [source]="clusterDetailsMap.get(tab)"
                >
                </ng2-smart-table>
              </div>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
</app-layout-one-column>
