<nb-card>
  <nb-card-header>Promoting Build {{build?.id}} ({{build?.tag}}) for:</nb-card-header>
  <nb-card-body>
    <form #buildForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="form-group">
        <nb-select  required [(ngModel)]="promotionIntent" #applicationType="ngModel" name="promotionType"
                    id="promotionType" placeholder="Select Intent" fixedWidth  selected = "RELEASE">
          <nb-option #cluster *ngFor="let promotionType of promotionTypes" value="{{promotionType}}">
            {{promotionType}}
          </nb-option>
        </nb-select>
      </div>
      <!--div class="form-group">
        <label for="builddescription" class="label">Description</label>
        <input required type="text" nbInput fullWidth name="builddescription" id="builddescription" placeholder="Fix for #123" [(ngModel)]="build.description">
      </div-->
      <button  type="submit" nbButton status="danger">Promote</button>
    </form>
  </nb-card-body>
</nb-card>
