<nb-card>
  <nb-card-header>Request Credential for {{application?.name}}</nb-card-header>
  <nb-card-body>
    <form #requestForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="credentialname" class="label">Name</label>
        <input #credentialname="ngModel" required type="text" nbInput fullWidth name="credentialname" id="credentialname" placeholder="MYSQL_DB_PASSWORD" [(ngModel)]="secret.secretName">
      </div>
      <div class="form-group">
        <label for="credentialdescription" class="label">Description</label>
        <input required type="text" nbInput fullWidth name="credentialdescription" id="credentialdescription" placeholder="Password for mysql database" [(ngModel)]="secret.description">
      </div>
      <button [disabled]="!requestForm.valid" type="submit" nbButton status="danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
