<ion-grid fixed>
    <ion-toolbar color=dark>
      <ion-title>Deployments</ion-title>
    </ion-toolbar>

  <ion-content>
    <ion-list>
      <div *ngFor="let item of deployments | keyvalue">
        <ion-card-header color=light><b>{{ item.value.environment }}</b></ion-card-header>
  <div href="#" ngClass="builddiv" (click)="showBuild(build)">
    <ion-row>
      <ion-col size=2><b>Image</b></ion-col>
      <ion-col size=8>{{ builds[item.key]?.image }}</ion-col>
    </ion-row>
    <ion-row></ion-row>
    <ion-row>
        <ion-col size=2><b>Time</b></ion-col>
        <ion-col size=8>{{ item.value.timestamp | date : 'yyyy-MM-dd HH:mm:ss' }}</ion-col>
      </ion-row>
    <ion-row>
      <ion-col size=2><b>Pod Size</b></ion-col>
      <ion-col size=8>{{ item.value.podSize }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size=2><b>Replicas</b></ion-col>
        <ion-col size=8>1</ion-col>
    </ion-row>
      <ion-row>
          <ion-col size=2><b>Deployed By</b></ion-col>
          <ion-col size=8>{{ item.value?.deployedBy }}</ion-col>
      </ion-row>
  </div>
</div>
  </ion-list>
  </ion-content>
  </ion-grid>

