<nb-card size="huge">
  <nb-card-header *ngIf="! application?.id">
    Create Application
  </nb-card-header>
  <nb-card-header *ngIf="application?.id">
    Update Application ({{application?.name}})
  </nb-card-header>
  <nb-card-body>
    <div style="margin-left: 5rem; margin-right: 5rem;">
      <nb-stepper #stepper linear=true>
        <nb-step *ngIf="! application?.id" [stepControl]="applicationType" label="Select Application Type">
          <div style="margin: auto; width: 35%;">
            <nb-select  required [(ngModel)]="application.applicationType" #applicationType="ngModel" name="applicationType"
              id="applicationType" placeholder="Select Application Type" fixedWidth>
              <nb-option #cluster *ngFor="let applicationType of applicationTypes" value="{{applicationType}}">
                {{applicationType}}
              </nb-option>
            </nb-select>
          </div>
          <div style="padding-top: 1rem; float: right;">
            <button nbButton nbStepperNext (click)="applicationTypeSelected(stepper)">next</button>
          </div>
        </nb-step>
        <nb-step *ngIf="! application?.id" [stepControl]="appFamily" label="Select Application Family">
          <div style="margin: auto; width: 35%;">
            <nb-select required [(ngModel)]="application.applicationFamily" #appFamily="ngModel" name="appFamily"
              id="appFamily" placeholder="Select Application Family" fixedWidth>
              <nb-option #cluster *ngFor="let appFamily of appFamilies" value="{{appFamily}}">
                {{appFamily}}
              </nb-option>
            </nb-select>
          </div>
          <div style="padding-top: 1rem; float: right;">
            <button nbButton nbStepperNext (click)="appFamilySelected(stepper)">next</button>
          </div>
        </nb-step>
        <nb-step [stepControl]="appDetailsForm" label="Configure Application Details">
          <form #appDetailsForm="ngForm">
            <div style="margin: auto; width: 70%; min-width: 300px;">
              <div class="form-group row">
                <label for="appName" class="label col-form-label col-sm-4">Name</label>
                <div class="col-sm-8">
                  <input [disabled]="application?.id" fieldSize="small" type=text #appName="ngModel" required nbInput fullWidth name="appName"
                    id="appName" [(ngModel)]="application.name" placeholder="myapp" pattern="[a-z-]+">
                </div>
              </div>
              <div class="form-group row">
                <label for="buildType" class="label col-sm-4">Build Type</label>
                <div class="col-sm-8">
                  <nb-select [disabled]="application?.id" fullWidth size="small" required [(ngModel)]="application.buildType" #buildType="ngModel"
                    name="buildType" id="buildType" placeholder="Build Type" fixedWidth>
                    <nb-option value="MVN">Maven</nb-option>
                    <nb-option value="DOTNET_CORE">Dotnet Core (2.0)</nb-option>
                    <nb-option value="FREESTYLE_DOCKER">Freestyle Docker</nb-option>
                    <nb-option value="JDK6_MAVEN2">Maven2 with JDK6</nb-option>
                    <nb-option value="MJ_NUGET">NuGet (Martjack)</nb-option>
                    <nb-option value="DOTNET_CORE22">Dotnet Core (2.2)</nb-option>
                    <nb-option value="DOTNET_CORE3">Dotnet Core (3.0)</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="vcsProvider" class="label col-sm-4">VCS Provider</label>
                <div class="col-sm-8">
                  <nb-select [disabled]="application?.id" fullWidth size="small" required [(ngModel)]="application.vcsProvider"
                    #vcsProvider="ngModel" name="vcsProvider" id="vcsProvider" placeholder="VCS Provider" fixedWidth>
                    <nb-option value="GITHUB">Github</nb-option>
                    <nb-option value="BITBUCKET">Bitbucket</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="repositoryUrl" class="label col-sm-4">Repository URL</label>
                <div class="col-sm-8">
                  <input [disabled]="application?.id" fieldSize="small" type=text #repositoryUrl="ngModel" required nbInput fullWidth
                    name="repositoryUrl" id="repositoryUrl" [(ngModel)]="application.repositoryUrl"
                    placeholder="https://github.com/Capillary/myapp">
                </div>
              </div>
              <div class="form-group row">
                <label for="applicationRootDirectory" class="label col-sm-4">Application Directory</label>
                <div class="col-sm-8">
                  <input [disabled]="application?.id" fieldSize="small" type=text #applicationRootDirectory="ngModel" required nbInput fullWidth
                    name="applicationRootDirectory" id="applicationRootDirectory"
                    [(ngModel)]="application.applicationRootDirectory" placeholder="subDirectory">
                </div>
              </div>
              <div class="form-group row" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
                <label for="loadBalancerType" class="label col-sm-4">LoadBalancer Type</label>
                <div class="col-sm-8" >
                  <nb-select fullWidth size="small" required [(ngModel)]="application.loadBalancerType"
                    #loadBalancerType="ngModel" name="loadBalancerType" id="loadBalancerType" placeholder="LoadBalancer Type"
                    fixedWidth>
                    <nb-option value="INTERNAL">INTERNAL</nb-option>
                    <nb-option value="EXTERNAL">EXTERNAL</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
                <label for="elbIdleTimeoutSeconds" class="label col-sm-4">LoadBalancer Idle Timeout</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #elbIdleTimeoutSeconds="ngModel" nbInput fullWidth name="elbIdleTimeoutSeconds"
                    id="elbIdleTimeoutSeconds" [(ngModel)]="application.elbIdleTimeoutSeconds" placeholder="60">
                </div>
              </div>
              <div class="form-group row" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
                <label for="deploymentStrategy" class="label col-sm-4">Deployment Strategy</label>
                <div class="col-sm-8">
                  <nb-select fullWidth size="small" required [(ngModel)]="application.deploymentStrategy"
                    #deploymentStrategy="ngModel" name="deploymentStrategy" id="deploymentStrategy" placeholder="Deployment Strategy"
                    fixedWidth>
                    <nb-option value="RollingUpdate">RollingUpdate</nb-option>
                    <nb-option value="Recreate">Recreate</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="form-group row" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
                <label for="dnsPrefix" class="label col-sm-4">DNS Prefix</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=text #dnsPrefix="ngModel" nbInput fullWidth name="dnsPrefix"
                    id="dnsPrefix" [(ngModel)]="application.dnsPrefix" placeholder="myapp">
                </div>
              </div>

              <div class="form-group row">
                <label for="ciEnabled" class="label col-sm-4">CI Enabled</label>
                <div class="col-sm-8">
                  <nb-toggle [(ngModel)]="application.ciEnabled" name="ciEnabled" #ciEnabled="ngModel" id="ciEnabled">CI Enabled</nb-toggle>
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for="ciEnabled" class="label col-sm-4">CI Enabled</label>
                <div class="col-sm-8">
                  <nb-select fullWidth size="small" required [(ngModel)]="application.ciEnabled"
                    #ciEnabled="ngModel" name="ciEnabled" id="ciEnabled" placeholder="CI Enabled"
                    fixedWidth>
                    <nb-option value="false">false</nb-option>
                    <nb-option value="true">true</nb-option>
                  </nb-select>
                </div>
              </div> -->

            </div>
            <div style="padding-top: 1rem; float: right;">
              <button nbStepperNext [disabled]="!appDetailsForm.valid" nbButton>Next</button>
            </div>
          </form>
        </nb-step>
        <nb-step label="Configure Ports" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
          <ng2-smart-table (createConfirm)="validatePort($event)" [settings]="settings" [source]="application.ports">
          </ng2-smart-table>
          <div style="padding-top: 1rem; float: right;">
            <button nbStepperNext nbButton>Next</button>
          </div>
        </nb-step>
        <nb-step label="Configure Liveliness Probe" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
          <form #livelinessForm="ngForm">
            <div style="margin: auto; width: 70%; min-width: 300px;">
              <div class="form-group row">
                <label for="livelinessport" class="label col-form-label col-sm-4">Port</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #livelinessport="ngModel" required nbInput fullWidth
                    name="livelinessport" id="livelinessport" [(ngModel)]="application.healthCheck.livenessProbe.port"
                    placeholder="port">
                </div>
              </div>
              <div class="form-group row">
                <label for="livelinesshttppath" class="label col-form-label col-sm-4">HTTP Path</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=text #livelinesshttppath="ngModel" nbInput fullWidth
                    name="livelinesshttppath" id="livelinesshttppath"
                    [(ngModel)]="application.healthCheck.livenessProbe.httpCheckEndpoint" placeholder="/isAlive">
                </div>
              </div>
              <div class="form-group row">
                <label for="livelinessinitialDelaySeconds" class="label col-form-label col-sm-4">Initial Delay</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #livelinessinitialDelaySeconds="ngModel" required nbInput
                    fullWidth name="livelinessinitialDelaySeconds" id="livelinessinitialDelaySeconds"
                    [(ngModel)]="application.healthCheck.livenessProbe.initialDelaySeconds"
                    placeholder="initial delay in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="livelinessinterval" class="label col-form-label col-sm-4">Interval</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #livelinessinterval="ngModel" required nbInput fullWidth
                    name="livelinessinterval" id="livelinessinterval"
                    [(ngModel)]="application.healthCheck.livenessProbe.periodSeconds"
                    placeholder="probe interval in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="livelinesstimeout" class="label col-form-label col-sm-4">Timeout</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #livelinesstimeout="ngModel" required nbInput fullWidth
                    name="livelinesstimeout" id="livelinesstimeout"
                    [(ngModel)]="application.healthCheck.livenessProbe.timeout" placeholder="probe timeout in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="livelinessfailureThreshold" class="label col-form-label col-sm-4">Failure Threshold</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #livelinessfailureThreshold="ngModel" required nbInput fullWidth
                    name="livelinessfailureThreshold" id="livelinessfailureThreshold"
                    [(ngModel)]="application.healthCheck.livenessProbe.failureThreshold"
                    placeholder="maximum check failures">
                </div>
              </div>
            </div>
          </form>
          <div style="padding-top: 1rem; float: right;">
              <button style="margin-right: 1rem" (click)="skipLiveliness(stepper)" nbButton>Skip</button>
              <button [disabled]="! livelinessForm.valid" nbButton nbStepperNext>Next</button>
          </div>
        </nb-step>
        <nb-step label="Configure Readiness Probe" *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
          <form #readinessForm="ngForm">
            <div style="margin: auto; width: 70%; min-width: 300px;">
              <div class="form-group row">
                <label for="readinessport" class="label col-form-label col-sm-4">Port</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #readinessport="ngModel" required nbInput fullWidth
                    name="readinessport" id="readinessport" [(ngModel)]="application.healthCheck.readinessProbe.port"
                    placeholder="port">
                </div>
              </div>
              <div class="form-group row">
                <label for="readinesshttppath" class="label col-form-label col-sm-4">HTTP Path</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=text #readinesshttppath="ngModel" nbInput fullWidth
                    name="readinesshttppath" id="readinesshttppath"
                    [(ngModel)]="application.healthCheck.readinessProbe.httpCheckEndpoint" placeholder="/isAlive">
                </div>
              </div>
              <div class="form-group row">
                <label for="readinessinitialDelaySeconds" class="label col-form-label col-sm-4">Initial Delay</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #readinessinitialDelaySeconds="ngModel" required nbInput
                    fullWidth name="readinessinitialDelaySeconds" id="readinessinitialDelaySeconds"
                    [(ngModel)]="application.healthCheck.readinessProbe.initialDelaySeconds"
                    placeholder="initial delay in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="readinessinterval" class="label col-form-label col-sm-4">Interval</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #readinessinterval="ngModel" required nbInput fullWidth
                    name="readinessinterval" id="readinessinterval"
                    [(ngModel)]="application.healthCheck.readinessProbe.periodSeconds"
                    placeholder="probe interval in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="readinesstimeout" class="label col-form-label col-sm-4">Timeout</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #readinesstimeout="ngModel" required nbInput fullWidth
                    name="readinesstimeout" id="readinesstimeout"
                    [(ngModel)]="application.healthCheck.readinessProbe.timeout" placeholder="probe timeout in seconds">
                </div>
              </div>
              <div class="form-group row">
                <label for="readinessfailureThreshold" class="label col-form-label col-sm-4">Failure Threshold</label>
                <div class="col-sm-8">
                  <input fieldSize="small" type=number #readinessfailureThreshold="ngModel" required nbInput fullWidth
                    name="readinessfailureThreshold" id="readinessfailureThreshold"
                    [(ngModel)]="application.healthCheck.readinessProbe.failureThreshold"
                    placeholder="maximum check failures">
                </div>
              </div>
            </div>
          </form>
          <div style="padding-top: 1rem; float: right;">
              <button style="margin-right: 1rem" (click)="skipReadiness(stepper)" nbButton>Skip</button>
              <button [disabled]="! readinessForm.valid" nbButton nbStepperNext>Next</button>
          </div>
        </nb-step>
        <nb-step label="Create Application">
            <div style="margin: auto; width: 30%; min-width: 300px;">
            <button *ngIf="!application?.id"  nbButton [disabled]="!appDetailsForm.valid" (click)=createOrUpdateApplication()>Create Application</button>
            <button *ngIf="application?.id"  nbButton [disabled]="!appDetailsForm.valid" (click)=createOrUpdateApplication()>Update Application</button>
            </div>
        </nb-step>
      </nb-stepper>
    </div>
  </nb-card-body>
</nb-card>
