.local-tag{
  background: #dddddd;
  display: inline-block;
  padding: 0.4rem 1rem 0.4rem 0.4rem;
  border: solid thin #777777;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
