# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.iml
target
v2/src/main/resources/static/
*.classpath
*.factorypath
*.project
package-lock.json
dist/
.helm
.terraform
capillary-cloud-tf/stacks/crm
capillary-cloud-tf/stacks/connectplus
venv/
capillary-cloud-tf/database_views
capillary-cloud-tf/schema
capillary-cloud-tf/seed_data
key.pem
