# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
/capillary-cloud-tf/tfmain/level2/*.tf.json
*~
*.sw[mnpcod]
*.pyc
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
*.iml
target
v2/src/main/resources/static/
*.classpath
*.factorypath
*.project
package-lock.json
dist/
.helm
.terraform
capillary-cloud-tf/stacks/crm
capillary-cloud-tf/stacks/connectplus
venv/
capillary-cloud-tf/database_views
capillary-cloud-tf/schema
capillary-cloud-tf/seed_data
key.pem
deploymentcontext.json
artifacts.json
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
capillary-cloud-tf/tfmain/infra/main.tf
*.backup
*.lock.info

capillary-cloud-tf/tfaws/level2/main.tf
capillary-cloud-tf/tfaws/level2/main.tf.mustache
capillary-cloud-tf/tfaws/level2/variables.tf
capillary-cloud-tf/tfaws/level2/versions.tf
capillary-cloud-tf/tfaws/level3/main.tf
capillary-cloud-tf/tfaws/level3/main.tf.mustache
capillary-cloud-tf/tfaws/level3/variables.tf
capillary-cloud-tf/tfazure/level2/main.tf
capillary-cloud-tf/tfazure/level2/main.tf.mustache
capillary-cloud-tf/tfazure/level2/variables.tf
capillary-cloud-tf/tfazure/level2/versions.tf
capillary-cloud-tf/tfazure/level3/main.tf
capillary-cloud-tf/tfazure/level3/main.tf.mustache
capillary-cloud-tf/tfazure/level3/variables.tf
capillary-cloud-tf/modules/1_input_instance/redis/redis
capillary-cloud-tf/modules/0_input_config/redis_exporter/prometheus-redis-exporter
tests/integration/tfwrapper/report
capillary-cloud-tf/tfmain/scripts/local-testing/hotfix.json
capillary-cloud-tf/tfmain/scripts/local-testing/custom.txt
