<app-layout-one-column xmlns="http://www.w3.org/1999/html">
  <span heading> Notification Center</span>
  <span subheading> Manage all Notifications and Channels</span>

  <nb-card>
    <nb-card-header>
      <div>Channels</div>
      <div style="float:right;">
        <button
          nbButton
          status="primary"
          (click)="openPopup(addChannel)"
        >
          Create Channel
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="cc-no-standard" [settings]="channelsSettings" [source]="this.channels"

                       (custom)="openEditPopup(addChannel, $event)"></ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
      <div>Subscriptions</div>
      <div style="float:right;">
        <button
          nbButton
          status="primary"
          (click)="openPopup(addSubscription)"
        >
          Create Subscription
        </button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="cc-no-standard" [settings]="subscriptionSettings"
                       [source]="this.subscriptions" (custom)="openEditPopupSubs(addSubscription, $event)">></ng2-smart-table>
    </nb-card-body>
  </nb-card>

</app-layout-one-column>

<ng-template #addChannel let-data let-ref="dialogRef">
  <nb-card size="medium" style="width:500px">
    <nb-card-header>
      <span *ngIf="!data.edit">Add Channel</span>
      <span *ngIf="data.edit">Edit Channel</span>
    </nb-card-header>
    <nb-card-body>
      <form #form="ngForm">
        <app-form-field label="Channel Name"
                        tooltipText="Name to uniquely identify your Channel"
                        [(ngModel)]="nc.name" name="channelName" required="true" minlength="5" full="true"
                        [disabled]="data.edit"></app-form-field>
        <app-form-field label="Channel Type"
                        tooltipText="Type of Notification Channel"
                        [(ngModel)]="nc.channelType" name="channeltype" required="true" full="true" select=true
                        [selectValues]='[{value:"SLACK", label:"Slack"},{value:"FLOCK", label:"Flock"}]'></app-form-field>
        <app-form-field label="Channel URL"
                        tooltipText="URL for the channel"
                        [(ngModel)]="nc.channelAddress" name="channelurl" required="true" full="true"></app-form-field>

        <div class="alert alert-info" *ngIf="nc.channelType == 'SLACK'">
          <a href="https://slack.com/intl/en-in/help/articles/115005265063-Incoming-webhooks-for-Slack" target="_blank">Slack
            Incoming Webhooks</a></div>
        <div class="alert alert-info" *ngIf="nc.channelType == 'FLOCK'">
          <a href="https://docs.flock.com/display/flockos/Create+An+Incoming+Webhook" target="_blank">Flock Incoming
            Webhooks</a></div>
        <div class="alert alert-danger" *ngIf="this.notificationError">{{this.notificationError}}</div>
        <div class="alert alert-success" *ngIf="this.testingResult">{{this.testingResult}}</div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="mr-3" nbButton status="warning" (click)='testNotification()'
              [disabled]="!form.valid">Test Notification
      </button>
      <button class="mr-3" nbButton status="primary" (click)='addNotificationChannel(ref, data.edit)'
              [disabled]="!form.valid"><span *ngIf="!data.edit">Create</span> <span *ngIf="data.edit">Update</span>
      </button>
      <button class="mr-3" nbButton status="basic" (click)='ref.close()'
      >Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #addSubscription let-data let-ref="dialogRef">
  <nb-card size="medium" style="width:500px">
    <nb-card-header>
      <span *ngIf="!data.edit">Add Subscription</span>
      <span *ngIf="data.edit">Edit Subscription</span>

    </nb-card-header>
    <nb-card-body>
      <form #formSubscription="ngForm">
        <app-form-field label="Stack"
                        tooltipText="Which Stack?"
                        [(ngModel)]="sub.stackName" name="stackName" required="true" full="true" select=true
                        [selectValues]='this.stackOptions'></app-form-field>
        <app-form-field label="Notification Type"
                        tooltipText="Type of Notification"
                        [(ngModel)]="sub.notificationType" name="NotificationType" required="true" full="true"
                        select=true
                        [selectValues]='notificationTypeOptions'></app-form-field>
        <app-form-field label="Channels"
                        tooltipText="Which Channel to send the alert to?"
                        [(ngModel)]="sub.channelId" name="Channels" required="true" full="true" select="true"
                        [selectValues]='this.channelOptions'></app-form-field>
        <div class="alert alert-danger" *ngIf="this.notificationError">{{this.notificationError}}</div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class="mr-3" nbButton status="primary" (click)='addSubscriptionCall(ref, data.edit)'
              [disabled]="!formSubscription.valid"><span *ngIf="!data.edit">Create</span>
        <span *ngIf="data.edit">Update</span>
      </button>
      <button class="mr-3" nbButton status="basic" (click)='ref.close()'
      >Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
