<app-layout-one-column>
  <nb-card accent="info">
    <nb-card-header>Create Stack</nb-card-header>
    <nb-card-body>
      <form #form="ngForm">
        <app-form-field label="Stack Name" fieldId="stackName" invalidMsg="Stack Name is too Short or contains invalid characters (alphanumeric allowed)"
                        missingMsg="Stack Name is required!" placeholder="Stack Name"
                        tooltipText="Name to uniquely identify your stack" patternMatch="[a-z-]+"
                        [(ngModel)]="stack.name" name="stackName" required="true"  minlength="5"></app-form-field>
        <!--VCS Field-->
        <app-form-field label="Git Provider" fieldId="vcs" invalidMsg="Git Provider is invalid"
                        missingMsg="Git Provider is required!" placeholder="Git Provider"
                        tooltipText="Git version control system"
                        [(ngModel)]="stack.vcs" name="vcs" required="true"  select="true"
                        [selectValues]='[{"value":"BITBUCKET", "label":"Bitbucket"},{"value":"GITHUB", "label":"Github"}]'></app-form-field>
        <!--VCS URL-->
        <app-form-field label="Repository URL" fieldId="vcsUrl" invalidMsg="Specified Repo URL is invalid!"
                        missingMsg="Repository URL is required!" placeholder="https://github.com/example.git"
                        tooltipText="The https url used to do git clone in local"   required="true"  [(ngModel)]="stack.vcsUrl" name="vcsUrl"
                        ></app-form-field>
        <!--RelativePath-->
        <app-form-field label="Relative Path" fieldId="relativePath" invalidMsg="Specified Relative Path is invalid!"
                        missingMsg="Relative Path is required! Key in '.' if it is same as repo URL" placeholder="."
                        tooltipText="The directory which contains the stack definition relative to repository url"
                         patternMatch="[a-z-\.]+" required="true"  [(ngModel)]="stack.relativePath" name="relativePath"></app-form-field>
        <!--Repository User-->
        <app-form-field label="Username" fieldId="userName" invalidMsg="User Name is invalid"
                        missingMsg="User is required to checkout the stack!" placeholder="User Name"
                        tooltipText="AppUser to checkout the repository. Checkout app passwords in Bitbucket or Gihub App"
                         patternMatch="[a-z-\.]+" required="true"  [(ngModel)]="stack.user" name="user"></app-form-field>
        <!--Password-->
        <app-form-field label="Password" fieldId="appPassword" invalidMsg="Password is invalid"
                        missingMsg="Password is required to checkout the stack!" placeholder="Password"
                        tooltipText="AppUser's Password to checkout the repository. Checkout app passwords in Bitbucket or Gihub App"
                         patternMatch="[a-z-]+" required="true"  [(ngModel)]="stack.appPassword" name="appPassword"></app-form-field>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class=" cc-margin-right" nbButton status="primary" (click)='createCluster()'
              [disabled]="!form.valid" *appUserRole="['cc-admin']">Create
      </button>
      <!--button class=" cc-margin-right" status="basic" nbButton>Cancel</button-->
    </nb-card-footer>
  </nb-card>
</app-layout-one-column>
