<nb-card size=medium>
  <nb-card-header>
    Test Status :
    <span>{{testBuildDetails?.testStatus}}
    </span>
  </nb-card-header>
  <nb-card-body>
    <div style="text-align: center;" class="table-responsive">
      <table class="table table-bordered">

        <tbody>
        <tr>
          <th>Metric</th>
          <th>Value</th>
          <th>Threshold</th>
          <th>Status</th>
        </tr>
        </tbody>
        <tbody >
          <tr *ngFor="let rule of testBuildDetails?.testStatusRules">
            <td>{{rule.metricLabel}} </td>
            <td> {{rule.value}} </td>
            <td> {{rule.errorThreshold}} </td>
            <td> {{rule.status}} </td>
          </tr>
        </tbody>

        <tbody>
        <tr>
          <th>Details</th>

          <td colspan="3"><a id="open" href="{{testBuildDetails?.sonarUrl}}" target="_blank">{{testBuildDetails?.sonarUrl}}</a></td>
        </tr>
        </tbody>

      </table>
    </div>


  </nb-card-body>
</nb-card>
