<app-layout-one-column-sidebar>
  <span heading> Override Page </span>
  <span subheading>Modify stack defined JSONs specific to this cluster</span>
  <div side2>
    <button nbButton style="margin-bottom: 10px;" status="primary" size="small" fullWidth
            (click)="addOverride()">
      <nb-icon icon="plus-outline"></nb-icon>
      Add Override
    </button>
    <input type="text" nbInput fullWidth placeholder="Search" (input)="search($event.target.value)">
    <nb-menu [items]="menuItems" tag="overrides-menu"></nb-menu>
  </div>
  <div class="p-3 text-center"  *ngIf="!currentSelection">
    <span class="alert alert-warning"> No Resource selected, Use the left menu to select or add an override</span>
  </div>
  <nb-card *ngIf="currentSelection">
    <nb-card-header>Overrides for {{currentSelection?.resourceType}} / {{currentSelection?.resourceName}}
      <button nbButton style="margin-bottom: 10px; float: right;" outline size="small" status="danger"
              (click)="deleteOverride()">
        <nb-icon icon="trash-2-outline"></nb-icon>
        Delete
      </button>
    </nb-card-header>
    <nb-card-body>
      <div>
        <json-editor [options]="editorOptions" [data]="currentSelection?.overrides" (change)="editOverrides()"
                     #editor></json-editor>
      </div>
      <div style="margin: 1rem 0 1rem 0;">
        <button nbButton disabled="disabled" *ngIf="!enableSubmitForOverride">No changes</button>
        <button nbButton status="primary" *ngIf="enableSubmitForOverride" (click)="submitOverrides()">
          Save Changes
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</app-layout-one-column-sidebar>
