<nb-layout>
  <nb-layout-header fixed size="small">
    <app-header></app-header>
  </nb-layout-header>
  <nb-sidebar>
    <button nbButton style="margin-bottom: 10px;" outline fullWidth shape="round" status="primary"
      (click)="addOverride()">
      <nb-icon icon="plus-outline"></nb-icon>Add Override
    </button>
    <input type="text" nbInput fullWidth shape="round" placeholder="Search" (input)="search($event.target.value)">
    <nb-menu [items]="menuItems" tag="overrides-menu"></nb-menu>
  </nb-sidebar>
  <nb-layout-column class="container-fluid">
    <nb-card accent="info">
      <nb-card-header>Overrides for: {{currentSelection?.resourceType.toUpperCase()}} / {{currentSelection?.resourceName.toUpperCase()}} <button nbButton style="margin-bottom: 10px; float: right;" outline size="small" status="danger"
        (click)="deleteOverride()"><nb-icon icon="trash-2-outline"></nb-icon>DELETE Override</button></nb-card-header>
      <nb-card-body>
        <div>
          <json-editor [options]="editorOptions" [data]="currentSelection?.overrides" (change)="editOverrides()"
            #editor></json-editor>
        </div>
        <div style="margin: 1rem 0 1rem 0">
          <button nbButton fullWidth disabled="disabled" *ngIf="!enableSubmitForOverride">No changes</button>
          <button nbButton fullWidth status="info" *ngIf="enableSubmitForOverride" (click)="submitOverrides()">Submit
            the Overrides</button>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>