<ion-content ngClass="graybackground">
<ion-grid fixed>
  <ion-toolbar color=dark>
    <ion-title>Create Application</ion-title>
    <ion-button color=light fill=clear slot="end" (click)="createApplication()"><ion-icon name="save"></ion-icon></ion-button>
  </ion-toolbar>

  <div style="padding: 2%; width: 100%; background: white">
      <ion-label position="stacked"><b>Name</b></ion-label>
      <ion-input placeholder="myapp" type="text" [(ngModel)]="application.name" ></ion-input>
        <ion-label position="stacked"><b>VCS Provider</b></ion-label>
        <ion-select interface="popover" placeholder="GITHUB" type="text" [(ngModel)]="application.vcsProvider" >
          <ion-select-option value="GITHUB">GITHUB</ion-select-option>
          <ion-select-option value="BITBUCKET">BITBUCKET</ion-select-option>
        </ion-select>
        <ion-label position="stacked"><b>Repository URL</b></ion-label>
        <ion-input placeholder="https://github.com/myorganization/myapp" type="text" [(ngModel)]="application.repositoryUrl" ></ion-input>
        <ion-label position="stacked"><b>Subdirectory</b></ion-label>
        <ion-input placeholder="." type="text" [(ngModel)]="application.applicationRootDirectory" ></ion-input>
        <ion-label position="stacked"><b>Build Type</b></ion-label>
        <ion-select interface="popover" placeholder="Maven" type="text" [(ngModel)]="application.buildType" >
          <ion-select-option value="MVN">Maven</ion-select-option>
          <ion-select-option value="DOTNET_CORE">Dotnet Core</ion-select-option>
          <ion-select-option value="FREESTYLE_DOCKER">Freestyle Docker</ion-select-option>
          <ion-select-option value="MVN_IONIC">Maven with Ionic</ion-select-option>
          <ion-select-option value="JDK6_MAVEN2">JDK6 with Maven 2.2</ion-select-option>
          <ion-select-option value="MJ_NUGET">Martjack Nugetrun</ion-select-option>
        </ion-select>
        <ion-label position="stacked"><b>Deployment Strategy</b></ion-label>
         <ion-select interface="popover" type="text" placeholder="RollingUpdate" [(ngModel)]="application.deploymentStrategy">
         <ion-select-option value="RollingUpdate">RollingUpdate</ion-select-option>
         <ion-select-option value="Recreate">Recreate</ion-select-option>
        </ion-select>
        <ion-label position="stacked"><b>LoadBalancer Type</b></ion-label>
        <ion-select interface="popover" placeholder="INTERNAL" type="text" [(ngModel)]="application.loadBalancerType" >
          <ion-select-option value="INTERNAL">INTERNAL</ion-select-option>
          <ion-select-option value="EXTERNAL">EXTERNAL</ion-select-option>
        </ion-select>
        <ion-label position="stacked"><b>DNS Prefix</b></ion-label>
        <ion-input placeholder="someprefix" type="text" [(ngModel)]="application.dnsPrefix" ></ion-input>
          <ion-label *ngIf="applicationFamily === 'ECOMMERCE'" position="stacked"><b>Mount CP Shared Volume</b></ion-label>
        <ion-row>
          <ion-toggle color=dark *ngIf="applicationFamily === 'ECOMMERCE'" [(ngModel)]="enableCifsMount"></ion-toggle>
        </ion-row>
        <ion-toolbar ngClass="subtoolbar" color=light>
            <ion-card-header color=light><b>Ports</b></ion-card-header>
            <ion-button (click)="addPort()" color=dark fill=clear slot=end><ion-icon name="add"></ion-icon></ion-button>
        </ion-toolbar>
        <div style="padding: 2%">
          <ion-row>
              <ion-col *ngFor="let port of application?.ports; index as i">
                <ion-label position="stacked"><b>Name</b></ion-label>
                <ion-input placeholder="http" type="text" [(ngModel)]="port.name" ></ion-input>
                <ion-label position="stacked"><b>Container Port</b></ion-label>
                <ion-input placeholder="8080" type="number" [(ngModel)]="port.containerPort" ></ion-input>
                <ion-label position="stacked"><b>LoadBalancer Port</b></ion-label>
                <ion-input placeholder="80" type="number" [(ngModel)]="port.lbPort" ></ion-input>
          </ion-col>
          </ion-row>
        </div>
        <ion-toolbar ngClass="subtoolbar" color=light>
            <ion-card-header color=light><b>Liveliness Probes</b></ion-card-header>
        </ion-toolbar>
        <div style="padding: 2%">
          <ion-row>
            <ion-col>
            <ion-label position="stacked"><b>Port</b></ion-label>
            <ion-input placeholder="8080" type="number" [(ngModel)]="application.healthCheck.livenessProbe.port" ></ion-input>
            <ion-label position="stacked"><b>HTTP Endpoint</b></ion-label>
            <ion-input placeholder="/test" type="text" [(ngModel)]="application.healthCheck.livenessProbe.httpCheckEndpoint" ></ion-input>
            <ion-label position="stacked"><b>Initial Delay</b></ion-label>
            <ion-input placeholder="300" type="number" [(ngModel)]="application.healthCheck.livenessProbe.initialDelaySeconds" ></ion-input>
            <ion-label position="stacked"><b>Interval</b></ion-label>
            <ion-input placeholder="60" type="number" [(ngModel)]="application.healthCheck.livenessProbe.periodSeconds" ></ion-input>
            <ion-label position="stacked"><b>Success Threshold</b></ion-label>
            <ion-input placeholder="1" type="number" [(ngModel)]="application.healthCheck.livenessProbe.successThreshold" ></ion-input>
            <ion-label position="stacked"><b>Failure Threshold</b></ion-label>
            <ion-input placeholder="10" type="number" [(ngModel)]="application.healthCheck.livenessProbe.failureThreshold" ></ion-input>
            <ion-label position="stacked"><b>Timeout</b></ion-label>
            <ion-input placeholder="1" type="number" [(ngModel)]="application.healthCheck.livenessProbe.timeout" ></ion-input>
          </ion-col>
          </ion-row>
      </div>
      <ion-toolbar ngClass="subtoolbar" color=light>
          <ion-card-header color=light><b>Readiness Probes</b></ion-card-header>
      </ion-toolbar>
      <div style="padding: 2%">
        <ion-row>
          <ion-col>
          <ion-label position="stacked"><b>Port</b></ion-label>
          <ion-input placeholder="8080" type="number" [(ngModel)]="application.healthCheck.readinessProbe.port" ></ion-input>
          <ion-label position="stacked"><b>HTTP Endpoint</b></ion-label>
          <ion-input placeholder="/test" type="text" [(ngModel)]="application.healthCheck.readinessProbe.httpCheckEndpoint" ></ion-input>
          <ion-label position="stacked"><b>Initial Delay</b></ion-label>
          <ion-input placeholder="300" type="number" [(ngModel)]="application.healthCheck.readinessProbe.initialDelaySeconds" ></ion-input>
          <ion-label position="stacked"><b>Interval</b></ion-label>
          <ion-input placeholder="60" type="number" [(ngModel)]="application.healthCheck.readinessProbe.periodSeconds" ></ion-input>
          <ion-label position="stacked"><b>Success Threshold</b></ion-label>
          <ion-input placeholder="1" type="number" [(ngModel)]="application.healthCheck.readinessProbe.successThreshold" ></ion-input>
          <ion-label position="stacked"><b>Failure Threshold</b></ion-label>
          <ion-input placeholder="10" type="number" [(ngModel)]="application.healthCheck.readinessProbe.failureThreshold" ></ion-input>
          <ion-label position="stacked"><b>Timeout</b></ion-label>
          <ion-input placeholder="1" type="number" [(ngModel)]="application.healthCheck.readinessProbe.timeout" ></ion-input>
        </ion-col>
        </ion-row>
    </div>
    </div>
</ion-grid>
</ion-content>

