<app-layout-one-column>
  <nb-card>
    <nb-card-header>
    <div style="float:left;">Stack Overview</div>
    </nb-card-header>
    <nb-card-body>
      This is a manifestation of the blueprint definition for the stack <b>{{stack?.name}}</b>, its blueprint can be found
      <a href={{stack?.vcsUrl}} target="_blank">
        here
        <nb-icon icon="external-link-outline" style="height: 0.8em">

        </nb-icon>
      </a>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header>
    <div style="float:left;">Clusters</div>
    <div style="float:right;">
    <button
              nbButton
              fullWidth
              status="primary"
              (click)="createCluster()"
              >
              Create Cluster
            </button>
    </div>
    </nb-card-header>
    <nb-card-body>
      <nb-toggle [(ngModel)]="pauseReleases" labelPosition="end" (click)="newToggleClick(pauseReleases)">
        Pause Production Releases
      </nb-toggle>
    </nb-card-body>
    <nb-card-body>
      <ng2-smart-table class="cc-no-standard" [settings]="clusterSettings" [source]="tableData" ></ng2-smart-table>
    </nb-card-body>
  </nb-card>
</app-layout-one-column>
