<app-layout-one-column>
  <nb-card accent="info">
    <nb-card-header>Stack Overview</nb-card-header>
    <nb-card-body>
      This is a <b>{{stack?.name}}</b> stack, its source code is <a href={{stack?.vcsUrl}}>here</a>.
    </nb-card-body>
  </nb-card>

  <nb-card accent="warning">
    <nb-card-header>Clusters</nb-card-header>
    <nb-card-body>
      <ng2-smart-table class="cc-no-standard" [settings]="clusterSettings" [source]="tableData" (custom)="gotoPage($event)"></ng2-smart-table>
    </nb-card-body>
  </nb-card>
</app-layout-one-column>
