<app-layout-one-column>

  <span heading> Variables & Secrets</span>
  <span subheading> Add/Modify Cluster Specific Variables and Secrets</span>
  <nb-card>
    <nb-card-header>Secrets</nb-card-header>
    <nb-card-body>
      <ng2-smart-table
        (editConfirm)="validateSecrets($event)"
        (edit)="clearValue($event)"
        [settings]="settingsSecrets"
        [source]="sensitiveClusterSource"
      >
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>

  <nb-card class="mb-5">
    <nb-card-header>Variables</nb-card-header>
    <nb-card-body>
      <ng2-smart-table
        (editConfirm)="validateVars($event)"
        [settings]="settings"
        [source]="nonSensitiveClusterSource"
      >
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>

  <div style="position: fixed; bottom: 0; height: 5rem; margin-left:-8px"
       class="bg-white w-100 border-top border-left p-3">

    <button nbButton status="primary" class="mr-3"
            [disabled]="objectKeys(secretsChanged).length == 0 && objectKeys(varsChanged).length == 0"
            (click)="openConfirmation(confirmation)">
      Submit
    </button>
<!--    <button nbButton status="secondary" class="mr-3"-->
<!--            [disabled]="objectKeys(secretsChanged).length == 0 && objectKeys(varsChanged).length == 0">-->
<!--      Reset-->
<!--    </button>-->
    <span class="text-muted">{{objectKeys(this.secretsChanged).length}}
      Secrets Changed & {{objectKeys(this.varsChanged).length}} Variables Changed</span>
  </div>

</app-layout-one-column>

<ng-template #confirmation let-data let-ref="dialogRef">
  <nb-card status="warning" size="medium" nbSpinner [nbSpinnerStatus]="addOverrideSpinner">
    <nb-card-header>
      Review Changes
    </nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngIf="objectKeys(secretsChanged).length > 0">
          <h5 class="text-muted">Secrets</h5>
        </nb-list-item>
        <nb-list-item *ngFor="let secret of secretsChanged| keyvalue">
          <span class="font-weight-bold">{{secret.key}}</span>&nbsp; is changed to &nbsp;<span class="text-success">{{secret.value}}</span>
        </nb-list-item>
        <nb-list-item *ngIf="objectKeys(varsChanged).length > 0">
          <h5 class="text-muted">Variables</h5>
        </nb-list-item>
        <nb-list-item *ngFor="let variable of varsChanged| keyvalue">
          <span class="font-weight-bold">{{variable.key}} </span>&nbsp; is changed from &nbsp;<span
          class="text-danger">{{originalData[variable.key]}}</span>&nbsp; to &nbsp;<span class="text-success">{{variable.value}}</span>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" class="mr-3"
              [disabled]="objectKeys(secretsChanged).length == 0 && objectKeys(varsChanged).length == 0"
              (click)="submitClusterOverrides(ref)">
        Submit Changes
      </button>
      <button nbButton status="secondary" class="mr-3"
              [disabled]="objectKeys(secretsChanged).length == 0 && objectKeys(varsChanged).length == 0" (click)="ref.close()" >
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
