<app-layout-one-column>
  <div class="row">
    <div class="col-sm-6">
      <nb-card [nbSpinner]="fetchSnapshotsSpinner" nbSpinnerStatus="info" nbSpinnerSize="large"
               nbSpinnerMessage="Loading...">
        <nb-card-header>List Backups</nb-card-header>
        <nb-card-body>
          <div class="row cc-margin-bottom">
            <div class="col-sm-6 cc-key" style="display: flex;align-items: center;">
              Resource Type
            </div>
            <div class="col-sm-6">
              <app-resource-type-selector stackName="{{stackName}}"
                                          (onResourceTypeSelect)="onResourceTypeSelect($event)"
                                          [resourceSelectorComponent]="rc"></app-resource-type-selector>
            </div>
          </div>
          <div class="row cc-margin-bottom">
            <div class="col-sm-6 cc-key" style="display: flex;align-items: center;">
              Resource Name
            </div>
            <div class="col-sm-6">
              <app-resource-selector #rc stackName="{{stackName}}" [resourceTypeSelected]="resourceType"
                                     (onResourceSelect)="onResourceSelect($event)"></app-resource-selector>
            </div>
          </div>
          <button nbButton status="primary" (click)="fetchSnapshots()" class="cc-margin">List Snapshots</button>
          <button nbButton status="basic" (click)="createSnapshots()" class="cc-margin">Create Snapshots</button>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-6">
      <nb-card *ngIf="drData.length > 0" [nbSpinner]="pinSnapshotSpinner" nbSpinnerStatus="danger"
               nbSpinnerSize="large">
        <nb-card-header>Backups</nb-card-header>
        <nb-card-body>
          <ng2-smart-table class="cc-no-standard" [settings]="settings" [source]="drData"
                           (custom)="pinSnapshot($event)">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</app-layout-one-column>

