
.cc-info {
  overflow-wrap: break-word;

  height: 100%;
}

.cc-head {
  color: nb-theme(color-primary-900);
  font-family: Open Sans, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

:host ::ng-deep ng2-smart-table .ng2-smart-actions ng2-st-tbody-edit-delete  { 
  display: none;  
}
