<app-layout-one-column>

  <span heading> Cluster Overview </span>
  <span subheading>Overview for {{cluster?.name}} of {{cluster?.stackName}} stack. </span>

  <div [nbSpinner]="downloadingKubeConfig">
    <div class="py-3">
      <button nbButton status="primary" class="mr-3" nbTooltip="Download your personal kubeconfig file" size="small"
              (click)="downloadKubeConfig()">
        <nb-icon icon="arrow-downward-outline"></nb-icon>
        K8s Credentials
      </button>
      <button nbButton status="control" class="mr-3" (click)="refreshKubeconfig()" size="small"
              nbTooltip="Kubeconfif File Permissions expire in 24h, click here to renew ">
        <nb-icon icon="refresh-outline"></nb-icon>
        K8s Credentials
      </button>
      <button nbButton status="control" class="mr-3" (click)="refreshStack()" size="small"
              nbTooltip="Not seeing a newly defined application on stack? Click here">
        <nb-icon icon="sync-outline"></nb-icon>
        Stack with Git
      </button>

    </div>
    <div class="row" *ngIf="componentUpgradeSource.count() > 0">
      <div class="col-md-12">
        <nb-card size="tiny" class="">
          <nb-card-header>Component Upgrade</nb-card-header>
          <nb-card-body class="aws-back">
            <div>
              <ng2-smart-table class="componentUpgrade"
                               [settings]="settingsComponentUpgrades"
                               [source]="componentUpgradeSource"
                               (custom)="upgradeComponent($event)">
              </ng2-smart-table>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nb-card size="small" class="cc-info">
          <nb-card-header>Cluster Information</nb-card-header>
          <nb-card-body class="aws-back">
            <div style="background: rgba(255, 255, 255, 0.8)" class="row">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-sm-6 cc-key">Name</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.name }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">Id</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.id }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">ReleaseStream</div>
                  <div class="col-sm-6 cc-value">
                    {{ cluster?.releaseStream }}
                  </div>
                </div>
                <div class="row" *ngIf="spotInstanceTypes != null">
                  <div class="col-sm-6 cc-key">SpotTypes</div>
                  <div class="col-sm-6 cc-value">
                    {{ spotInstanceTypes }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">Stack</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.stackName }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">TimeZone</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.tz }}</div>
                </div>
                <div class="row" *ngIf="cluster?.schedules?.RELEASE">
                  <div class="col-sm-6 cc-key">Release Cron</div>
                  <div class="col-sm-6 cc-value">
                    {{ cluster?.schedules?.RELEASE }}
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card size="small" class="cc-info">
          <nb-card-header
          >Network Information
          </nb-card-header>
          <nb-card-body>
            <div style="background: rgba(255, 255, 255, 0.8)" class="row">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-sm-6 cc-key">Region</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.awsRegion }}</div>
                </div>
                <div class="row" *ngIf="cluster?.azs && cluster?.azs.length > 1">
                  <div class="col-sm-6 cc-key">az1</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.azs[0] }}</div>
                </div>
                <div class="row" *ngIf="cluster?.azs && cluster?.azs.length > 2">
                  <div class="col-sm-6 cc-key">az2</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.azs[1] }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">CIDR</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.vpcCIDR }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">External Id</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.externalId }}</div>
                </div>
                <div class="row">
                  <div class="col-sm-6 cc-key">ARN</div>
                  <div class="col-sm-6 cc-value">{{ cluster?.roleARN }}</div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</app-layout-one-column>
