<app-layout-one-column>
  <nb-card>
    <nb-card-header *ngIf="!cluster?.id">Create Cluster for <b>{{stackName}}</b> stack on AWS</nb-card-header>
    <nb-card-header *ngIf="cluster?.id">
      Update Cluster ({{ cluster?.name }} of <b>{{stackName}}</b> stack)
    </nb-card-header>
    <nb-card-body>
      <form #form="ngForm">

        <app-form-field label="Cluster Name" name="clusterName" invalidMsg="Cluster Name is too Short or contains invalid characters (alphanumeric allowed)"
                        missingMsg="Cluster Name is required!" placeholder="Cluster Name"
                        tooltipText="Name to uniquely identify your cluster" pattern="[a-z,A-Z,-]+"
                        [(ngModel)]="awsClusterRequest.clusterName" required="true" [disabled]="cluster?.id"></app-form-field>
        <app-form-field label="Time Zone" name="tz" placeholder="Select Time Zone"
                        tooltipText="Timezone to be set in your kubernetes cluster and all resources"
                        [(ngModel)]="timeZoneModelBound"  required="true"  [disabled]="cluster?.id"
                        select = true
                        [selectValues]='[{value:"GMT", label:"GMT/UTC"},{value:"Asia/Kolkata", label:"IST"}]'></app-form-field>
        <app-form-field label="Release Stream" name="releaseStream" placeholder="Select Release Stream"
                        tooltipText="This will determine the builds which are picked in this cluster"
                        [(ngModel)]="awsClusterRequest.releaseStream" required="true"
                        select=true
                        [selectValues]='[{value:"QA", label:"QA"},{value:"STAGING", label:"Pre Production"},{value:"PROD", label:"Production"}]'></app-form-field>

        <app-form-field label="Cloud Provider" name="cloud" placeholder="Select Cloud Provider"
                        tooltipText="The provider for which you want to launch the cluster"
                        [(ngModel)]="awsClusterRequest.cloud" required="true"
                        select=true disabled="true"
                        [selectValues]='[{value:"AWS", label:"Amazon Web Services"},{value:"LOCAL", label:"Local Environment"},{value:"AZURE", label:"Azure"}]'></app-form-field>

        <app-form-field label="CIDR Range" name="cidr" placeholder="0.0.0.0/0"
                        tooltipText="Specify an IPv4 CIDR block for the VPC. The allowed block size is between a /16 netmask (65,536 IP addresses) and /28 netmask (16 IP addresses)" pattern="(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/(3[0-1]|2[0-9]|1[0-9]|[4-9]))?(?!\/)\b"
                        [(ngModel)]="awsClusterRequest.vpcCIDR" required="true"   [disabled]="cluster?.id"></app-form-field>

        <app-form-field label="AWS Region" name="region" placeholder="Select Region"
                        tooltipText="Select the region where the cluster should be launched"
                        select="true" [selectValues]="regionValues"
                        [(ngModel)]="regionModelBound" required="true"  [disabled]="cluster?.id"></app-form-field>


        <app-form-field label="Availability zone" name="az" placeholder="Availability zone(s)"
                        tooltipText="Comma Separated value for at least two availability Zones"
                        [(ngModel)]="azsCsv" required="true"  [disabled]="cluster?.id"></app-form-field>

        <app-form-field label="VPC ID" name="vpc" placeholder="An existing VPC ID to re-use"
                        tooltipText="VPC Id to re-use, leave empty to create new"
                        [(ngModel)]="awsClusterRequest.providedVPCId" [disabled]="cluster?.id"></app-form-field>

        <app-form-field label="IAM Role" name="role"  placeholder="IAM Role ARN"
                        tooltipText="IAM Role created as per Documentation for provisioning cluster in your account"
                        [(ngModel)]="awsClusterRequest.roleARN" required="true"  ></app-form-field>

        <app-form-field label="External Id" name="externalId"  placeholder="External Id"
                        tooltipText="External ID you selected while creating above IAM Role"
                        [(ngModel)]="awsClusterRequest.externalId" required="true"  ></app-form-field>

        <app-form-field *ngIf="isChinaRegion()" label="Access Key Id" name="accessKeyId"  placeholder="Access Key Id"
                        tooltipText="Access Key Id for China region"
                        [(ngModel)]="awsClusterRequest.accessKeyId"  ></app-form-field>

        <app-form-field *ngIf="isChinaRegion()" label="Secret Access Key" name="accessKeyId"  placeholder="Secret Access Key"
                        tooltipText="Secret Access Key for above Access Key Id"
                        [(ngModel)]="awsClusterRequest.accessKeyId"  ></app-form-field>

        <app-form-field label="Spot Instance Type" name="spotInstanceTypes"  placeholder="Comma separated spot instance types"
                        tooltipText="The instances types you wish to use in your spot fleet"
                        [(ngModel)]="spotInstanceTypes"  required="true" ></app-form-field>

        <app-form-field label="CD Parent" name="cdPipelineParent" placeholder="Select Parent Cluster (Optional)"
                        tooltipText="If this cluster needs to be placed in a Continuous Delivery pipeline, Select a parent cluster"
                        select="true"
                        [(ngModel)]="awsClusterRequest.cdPipelineParent"  [selectValues]="clusterListValues" ></app-form-field>

        <app-form-field label="Request Limit Ratio" name="k8sRequestsToLimitsRatio" placeholder="Enter Limit Ratio"
                        tooltipText="This ratio will define packing density of k8s cluster, QA Cluster can have lower value"
                        pattern="^[0,1](\.[0-9][0-9]?)?$"
                        [(ngModel)]="awsClusterRequest.k8sRequestsToLimitsRatio"></app-form-field>

        <app-form-field label="Schedule" name="cron" placeholder="30 5 * * *"
                        tooltipText="cron pattern to trigger regular releases"
                        pattern="([0-6]?[0-9]|\*) ([0-9][0-9]?|\*) ([0-9][0-9]?|\*) ([0-9][0-9]?|\*) ([0-9][0-9]?|\*)"
                        [(ngModel)]="cronScheduleModelBound"></app-form-field>

        <app-form-field label="Require Sign off" name="requireSignOff" placeholder="Yes or No"
                        tooltipText="The provider for which you want to launch the cluster"
                        [(ngModel)]="awsClusterRequest.requireSignOff" required="true"
                        select=true
                        [selectValues]='[{value:"true", label:"Yes"},{value:"false", label:"No"}]'></app-form-field>

      </form>
    </nb-card-body>
    <nb-card-footer *ngIf="!cluster?.id">
      <button class=" cc-margin-right" nbButton status="primary" (click)='createCluster()'
              [disabled]="test(form) && !form.valid"  *appUserRole="['cc-admin']">Create
      </button>
    </nb-card-footer>
    <nb-card-footer *ngIf="cluster?.id">
      <button class=" cc-margin-right" nbButton status="primary" (click)='updateCluster()'
              [disabled]="!form.valid" *appUserRole="['cc-admin']" >Update
      </button>
      <!--button class=" cc-margin-right" status="basic" nbButton>Cancel</button-->
    </nb-card-footer>
  </nb-card>
</app-layout-one-column>
