<app-layout-one-column>
  <nb-card accent="info">
    <nb-card-header *ngIf="!cluster?.id">Create Cluster</nb-card-header>
    <nb-card-header *ngIf="cluster?.id">
      Update Cluster ({{ awsClusterRequest?.clusterName }})
    </nb-card-header>
    <nb-card-body>
      <div style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 3rem">
        <nb-stepper #stepper linear="true">
          <nb-step label="Basic Details">
            <div class="form-group row">
              <label for="clusterName" class="label col-sm-3">Name</label>
              <div class="col-sm-5">
                <input
                  [disabled]="cluster?.id"
                  fieldSize="small"
                  type="text"
                  #clusterName="ngModel"
                  nbInput
                  fullWidth
                  name="clusterName"
                  id="clusterName"
                  [(ngModel)]="awsClusterRequest.clusterName"
                  placeholder="cluster-name"
                  pattern="[a-z-]+"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">Time Zone</label>
              <div class="col-sm-5">
                <nb-select
                  [(ngModel)]="timeZoneModelBound"
                  #tz="ngModel"
                  name="tz"
                  id="tz"
                  fullWidth
                  size="small"
                  placeholder="TZ"
                  [disabled]="cluster?.id"
                >
                  <nb-option value="GMT">GMT</nb-option>
                  <nb-option value="Asia/Kolkata">Asia/Kolkata</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="form-group row">
              <label class="label col-sm-3">Release Stream</label>
              <div class="col-sm-5">
                <nb-select
                  [(ngModel)]="awsClusterRequest.releaseStream"
                  #releaseStream="ngModel"
                  name="releaseStream"
                  id="releaseStream"
                  selected="QA"
                  fullWidth
                  size="small"
                  placeholder="QA"
                >
                  <nb-option value="QA">QA</nb-option>
                  <nb-option value="STAGING">STAGING</nb-option>
                  <nb-option value="PROD">PROD</nb-option>
                </nb-select>
              </div>
            </div>



            <div style="padding-top: 1rem; float: right">
              <button nbStepperNext status="info" nbButton>Next</button>
            </div>
          </nb-step>

          <nb-step label="Provider Configs">

           <div class="form-group row">
              <label class="label col-sm-3">Cloud</label>
              <div class="col-sm-5">
                <nb-select
                  [(ngModel)]="awsClusterRequest.cloud"
                  [disabled]="cluster?.id"
                  #cloud="ngModel"
                  name="cloud"
                  id="cloud"
                  selected="AWS"
                  fullWidth
                  size="small"
                >
                  <nb-option value="AWS">AWS</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">CIDR</label>
              <div class="col-sm-5">
                <input
                  [disabled]="cluster?.id"
                  fieldSize="small"
                  type="text"
                  #vpcCIDR="ngModel"
                  nbInput
                  fullWidth
                  name="vpcCIDR"
                  id="vpcCIDR"
                  [(ngModel)]="awsClusterRequest.vpcCIDR"
                  placeholder="0.0.0.0/0"
                  pattern="(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/(3[0-1]|2[0-9]|1[0-9]|[4-9]))?(?!\/)\b"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">AWS Region</label>
              <div class="col-sm-5">
                <nb-select
                  [disabled]="cluster?.id"
                  [(ngModel)]="regionModelBound"
                  #reg="ngModel"
                  name="reg"
                  id="reg"
                  fullWidth
                  size="small"
                  placeholder="Please select"
                >
                  <nb-option
                    #awsRegions
                    *ngFor="let region of awsRegions"
                    value="{{ region }}"
                  >
                    {{ region }}
                  </nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">Availability zone</label>
              <div class="col-sm-5">
                <nb-select
                  [(ngModel)]="awsClusterRequest.azs"
                  #region="ngModel"
                  name="azs"
                  id="azs"
                  fullWidth
                  size="small"
                  multiple
                  placeholder="Please select"
                >
                  <nb-option-group title="us-east-1">
                    <nb-option value="us-east-1a"> us-east-1a </nb-option>
                    <nb-option value="us-east-1b"> us-east-1b </nb-option>
                    <nb-option value="us-east-1c"> us-east-1c </nb-option>
                    <nb-option value="us-east-1d"> us-east-1d </nb-option>
                    <nb-option value="us-east-1e"> us-east-1e </nb-option>
                    <nb-option value="us-east-1f"> us-east-1f </nb-option>
                  </nb-option-group>
                  <nb-option-group title="us-west-2">
                    <nb-option value="us-west-2a"> us-west-2a </nb-option>
                    <nb-option value="us-west-2b"> us-west-2b </nb-option>
                    <nb-option value="us-west-2c"> us-west-2c </nb-option>
                  </nb-option-group>
                  <nb-option-group title="us-west-1">
                    <nb-option value="us-west-1a"> us-west-1a </nb-option>
                    <nb-option value="us-west-1b"> us-west-1b </nb-option>
                  </nb-option-group>
                  <nb-option-group title="eu-west-1">
                    <nb-option value="eu-west-1a"> eu-west-1a </nb-option>
                    <nb-option value="eu-west-1b"> eu-west-1b </nb-option>
                    <nb-option value="eu-west-1c"> eu-west-1c </nb-option>
                  </nb-option-group>
                  <nb-option-group title="eu-central-1">
                    <nb-option value="eu-central-1a"> eu-central-1a </nb-option>
                    <nb-option value="eu-central-1b"> eu-central-1b </nb-option>
                  </nb-option-group>
                  <nb-option-group title="ap-southeast-1">
                    <nb-option value="ap-southeast-1a">
                      ap-southeast-1a
                    </nb-option>
                    <nb-option value="ap-southeast-1b">
                      ap-southeast-1b
                    </nb-option>
                  </nb-option-group>
                  <nb-option-group title="ap-southeast-2">
                    <nb-option value="ap-southeast-2a">
                      ap-southeast-2a
                    </nb-option>
                    <nb-option value="ap-southeast-2b">
                      ap-southeast-2b
                    </nb-option>
                    <nb-option value="ap-southeast-2c">
                      ap-southeast-2c
                    </nb-option>
                  </nb-option-group>
                  <nb-option-group title="ap-northeast-1">
                    <nb-option value="ap-northeast-1a">
                      ap-northeast-1a
                    </nb-option>
                    <nb-option value="ap-northeast-1c">
                      ap-northeast-1c
                    </nb-option>
                  </nb-option-group>
                  <nb-option-group title="sa-east-1">
                    <nb-option value="sa-east-1a"> sa-east-1a </nb-option>
                    <nb-option value="sa-east-1b"> sa-east-1b </nb-option>
                    <nb-option value="sa-east-1c"> sa-east-1c </nb-option>
                  </nb-option-group>
                  <nb-option-group title="ap-south-1">
                    <nb-option value="ap-south-1a"> ap-south-1a </nb-option>
                    <nb-option value="ap-south-1b"> ap-south-1b </nb-option>
                  </nb-option-group>
                  <nb-option-group title="cn-north-1">
                    <nb-option value="cn-north-1a"> cn-north-1a </nb-option>
                    <nb-option value="cn-north-1b"> cn-north-1b </nb-option>
                  </nb-option-group>
                  <nb-option-group title="cn-northwest-1">
                    <nb-option value="cn-northwest-1a">
                      cn-northwest-1a
                    </nb-option>
                    <nb-option value="cn-northwest-1b">
                      cn-northwest-1b
                    </nb-option>
                    <nb-option value="cn-northwest-1c">
                      cn-northwest-1c
                    </nb-option>
                  </nb-option-group>
                </nb-select>
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">IAM Role</label>
              <div class="col-sm-5">
                <input
                  fieldSize="small"
                  type="text"
                  #roleARN="ngModel"
                  nbInput
                  fullWidth
                  name="roleARN"
                  id="roleARN"
                  [(ngModel)]="awsClusterRequest.roleARN"
                  placeholder="arn:aws:iam::123:role/capillary-cloud-role"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">External ID</label>
              <div class="col-sm-5">
                <input
                  fieldSize="small"
                  type="text"
                  #externalId="ngModel"
                  nbInput
                  fullWidth
                  name="externalId"
                  id="externalId"
                  [(ngModel)]="awsClusterRequest.externalId"
                  placeholder="External Id for IAM role"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">Spot Instance Types</label>
              <div class="col-sm-5">
                <input
                  fieldSize="small"
                  type="text"
                  [(ngModel)]="spotInstanceTypes"
                  #types="ngModel"
                  nbInput
                  fullWidth
                  name="types"
                  id="types"
                  placeholder="Comma separated spot instance types"
                />
              </div>
            </div>
            <div style="padding-top: 1rem; float: right">
              <button nbStepperNext status="info" nbButton>Next</button>
            </div>
          </nb-step>

          <nb-step label="Cluster Configs">
            <div class="form-group row">
              <label class="label col-sm-3">CD Parent</label>
              <div class="col-sm-5">
                <nb-select
                  [(ngModel)]="awsClusterRequest.cdPipelineParent"
                  #cdPipelineParent="ngModel"
                  name="cdPipelineParent"
                  id="cdPipelineParent"
                  fullWidth
                  size="small"
                  placeholder="Please select"
                >
                  <nb-option
                    #clusterObj
                    *ngFor="let clusterObj of clusterList"
                    value="{{ clusterObj.id }}"
                  >
                    {{ clusterObj.name }}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <div class="form-group row">
              <label class="label col-sm-3">Request Limit Ratio</label>
              <div class="col-sm-5">
                <input
                  fieldSize="small"
                  type="text"
                  #k8sRequestsToLimitsRatio="ngModel"
                  nbInput
                  fullWidth
                  name="k8sRequestsToLimitsRatio"
                  id="k8sRequestsToLimitsRatio"
                  [(ngModel)]="awsClusterRequest.k8sRequestsToLimitsRatio"
                  placeholder="0.5"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="label col-sm-3">Schedule</label>
              <div class="col-sm-5">
                <input
                  fieldSize="small"
                  type="text"
                  #cron="ngModel"
                  nbInput
                  fullWidth
                  name="cron"
                  id="cron"
                  [(ngModel)]="cronScheduleModelBound"
                  placeholder="30 5 * * *"
                />
              </div>
            </div>

            <div class="form-group row">
              <label for="requireSignOff" class="label col-sm-3"
                >Require Sign off</label
              >
              <div class="col-sm-5">
                <nb-toggle
                  [(ngModel)]="awsClusterRequest.requireSignOff"
                  name="requireSignOff"
                  #requireSignOff="ngModel"
                  id="requireSignOff"
                ></nb-toggle>
              </div>
            </div>

            <div style="padding-top: 1rem; float: right">
              <button nbStepperNext status="info" nbButton>Next</button>
            </div>
          </nb-step>

          <nb-step label="Cluster Variables">
            <div style="margin-left:125px">
              <div class="form-group row">
                <label for="requireSignOff" class="label col-sm-3"
                  >Common Variables</label
                >
              </div>
              <div class="form-group row">
                <div class="col-sm-9">
                  <ng2-smart-table
                    (createConfirm)="validateValue($event)"
                    (editConfirm)="validateValue($event)"
                    [settings]="settings"
                    [source]="commonVariablesTable"
                  >
                  </ng2-smart-table>
                </div>
              </div>
              <div class="form-group row">
                <label for="requireSignOff" class="label col-sm-3"
                  >Secrets</label
                >
              </div>

              <div class="form-group row">
                <div class="col-sm-9">
                  <ng2-smart-table
                    (createConfirm)="validateValue($event)"
                    (editConfirm)="validateValue($event)"
                    [settings]="settings"
                    [source]="secretsTable"
                  >
                  </ng2-smart-table>
                </div>
              </div>
            </div>
            <div style="padding-top: 1rem; float: right">
              <button
                nbButton
                *ngIf="!cluster?.id"
                status="primary"
                (click)="createCluster()"
              >
                Create
              </button>
              <button
                nbButton
                *ngIf="cluster?.id"
                status="primary"
                (click)="updateCluster()"
              >
                Update
              </button>
            </div>
          </nb-step>
        </nb-stepper>
      </div>
    </nb-card-body>
  </nb-card>
</app-layout-one-column>
