apiVersion: v1
data:
  containers.input.conf: |-
         <match **fluentd**>
           @type null
         </match>
         <match **filebeat**>
           @type null
         </match>
         <match **deis**>
           @type null
         </match>
         <match **kube-system**>
           @type null
         </match>
         <match **kibana**>
           @type null
         </match>
         <match **elasticsearch**>
           @type null
         </match>
         <match **monitoring**>
           @type null
         </match>
         <match **newrelic**>
           @type null
         </match>
         <source>
           @id fluentd-containers.log
           @type tail
           format json
           path /var/log/containers/*.log
           pos_file /var/log/fluentd-efs-containers.log.pos
           tag kubernetes.*
           read_from_head true
           <parse>
             @type multi_format
             <pattern>
               format json
               time_key time
               time_format %Y-%m-%dT%H:%M:%S.%NZ
             </pattern>
             <pattern>
               format /^(?<time>.+) (?<stream>stdout|stderr) [^ ]* (?<log>.*)$/
               time_format %Y-%m-%d %H:%M:%S,%N%
             </pattern>
           </parse>
         </source>
  output.conf: |-
      <filter **>
        @id filter_kubernetes_metadata
        @type kubernetes_metadata
      </filter>
      <filter **>
        @type record_transformer
        enable_ruby
        <record>
          key ${record["kubernetes"]["pod_name"]}
        </record>
      </filter>
      <match **>
        @id file
        @type file
        format json
        path /var/log/efs/${key}.%Y%m%d%H
        include_tag_key false
        append true
        <buffer time,key>
           @type file
           timekey 1h
           timekey_use_utc false
           path /var/log/fluent-buffer-efs-v2/
           chunk_limit_size 10M
           queue_limit_length 300
           flush_mode interval
           flush_interval 5s
           flush_thread_count 10
           flush_at_shutdown true
        </buffer>
      </match>
kind: ConfigMap
metadata:
  name: fluentd-efs-configs
  namespace: default
