<ion-grid fixed>
  <ion-toolbar color=dark>
    <ion-title>Build Status</ion-title>
    <ion-button *ngIf="build?.status==='SUCCEEDED'" color=light fill=clear slot="end" (click)="presentPopover($event)"><ion-icon name="menu"></ion-icon></ion-button>
  </ion-toolbar>

<ion-content>
  <!-- <ion-card class="ion-justify-content-center">
    <ion-item>
      <ion-label><b>Status</b></ion-label>
      {{build?.status | uppercase}}
    </ion-item> -->
      <ion-item>
        <ion-col size="2"><b>Status</b></ion-col>
        <ion-col>{{build?.status | uppercase}}</ion-col>
      </ion-item>
      <ion-item>
        <ion-col size="2"><b>Branch/Tag</b></ion-col>
        <ion-col>{{build?.tag}}</ion-col>
      </ion-item>
      <ion-item>
          <ion-col size="2"><b>Promotion Status</b></ion-col>
          <ion-col>{{build?.promoted ? 'PROMOTED' : 'NOT PROMOTED'}}</ion-col>
        </ion-item>
      <ion-item *ngIf="build?.status === 'SUCCEEDED'">
        <ion-col size="2"><b>Image</b></ion-col>
        <ion-col>{{build?.image}}</ion-col>
      </ion-item>
      <ion-item *ngFor="let log of logs?.logEventList">
        <ion-col size="2">{{log.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</ion-col>
        <ion-col>{{log.message}}</ion-col>
      </ion-item>
  <!-- </ion-card> -->
</ion-content>
</ion-grid>
