<nb-layout>
  <nb-layout-header fixed size="small">
    <app-header></app-header>
  </nb-layout-header>
  <nb-sidebar>
Test
  </nb-sidebar>
  <nb-layout-column class="container-fluid">
    <nb-card accent="info">
      <nb-card-header>Cluster Information</nb-card-header>
      <nb-card-body>
        <div style="text-align: center;" class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr scope=row>
              <th scope="col">Temp</th>
              <th scope="col">Cluster Name</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
            </thead>
          </table>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card accent="warning">
      <nb-card-header>Cluster Pages</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>

  </nb-layout-column>
</nb-layout>
