label{
  display: block;
}

.min-width{
  width: 25rem!important;
}

::ng-deep a.ng2-smart-action.ng2-smart-action-custom-custom{
  width: 50px!important;
  display: inline-block!important;
  padding-top: 1rem!important;
  padding-left:1rem;
  border:none!important;
}
