<nb-card [nbSpinner]="executingAction">
  <nb-card-header>Pod {{applicationPodDetails?.name}}</nb-card-header>
  <nb-card-body>
    <div style="margin-bottom: 1rem; min-width: 100px;">
      <input style="width: 100%;" type="text" nbInput placeholder="Search Action Name" (input)="search($event.target.value)">
    </div>
    <form #buildForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group" style="min-width: 100px;">
        <nb-select  required [(ngModel)]="filteredAction" #action="ngModel" name="filteredAction"
        id="filteredAction" placeholder="Select Application Action" [(selected)]="filteredAction" style="width: 100%;">
          <nb-option #cluster *ngFor="let fa of filteredActions" [value]="fa">
            {{fa?.name}}
          </nb-option>
        </nb-select>
      </div>
      <button [disabled]="!buildForm.valid" type="submit" nbButton style="width: 100%;" status="danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
