.col-md-4 {
  padding-bottom: 10px;
}

:host /deep/ ng2-st-tbody-edit-delete {
  display: none !important;
}
:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  font-size: 1.1em !important;
  display: float;
  color: blue;
}
:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}

#build-logs {
  width: 1000px;
}
