<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>Application Details</nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-info [application]="application"></app-info>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item *ngIf="application?.applicationType !== 'SCHEDULED_JOB'">
    <nb-accordion-item-header>Current Deployments</nb-accordion-item-header>
    <nb-accordion-item-body>
      <current-deployments [application]="application"></current-deployments>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item *ngIf="application?.applicationType === 'SCHEDULED_JOB'">
    <nb-accordion-item-header>Run History</nb-accordion-item-header>
    <nb-accordion-item-body>
      <current-deployments [application]="application"></current-deployments>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Monitoring</nb-accordion-item-header>
    <nb-accordion-item-body>
      <monitoring [application]="application"></monitoring>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Application Metrics</nb-accordion-item-header>
    <nb-accordion-item-body>
      <application-metrics [application]="application"></application-metrics>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Alerting</nb-accordion-item-header>
    <nb-accordion-item-body>
      <alerting [application]="application"></alerting>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Credential Management</nb-accordion-item-header>
    <nb-accordion-item-body>
      <credential-management [application]="application"></credential-management>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Application Dumps</nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-dumps [application]="application"></app-dumps>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item>
    <nb-accordion-item-header>Application Actions</nb-accordion-item-header>
    <nb-accordion-item-body>
      <executed-actions [application]="application"></executed-actions>
    </nb-accordion-item-body>
  </nb-accordion-item>
  <nb-accordion-item collapsed=false>
    <nb-accordion-item-header>Builds</nb-accordion-item-header>
    <nb-accordion-item-body>
      <builds-list [application]="application"></builds-list>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
