<nb-card>
  <nb-card-header>{{secretName}} for {{application?.name}} in <i>{{environment}}</i> cluster</nb-card-header>
  <nb-card-body>
    <form #setValueForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="credentialvalue" class="label">Value</label>
        <input *ngIf="secretType === 'ENVIRONMENT'" #credentialvalue="ngModel" required type="password" nbInput fullWidth name="credentialvalue" id="credentialvalue" [(ngModel)]="applicationSecret.secretValue">
        <textarea placeholder="base64 encoded file content" *ngIf="secretType === 'FILE'" #credentialvalue="ngModel" required type="password" nbInput fullWidth name="credentialvalue" id="credentialvalue" [(ngModel)]="applicationSecret.secretValue"></textarea>
      </div>
      <button [disabled]="!setValueForm.valid" type="submit" nbButton status="danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
