<div *ngIf="application?.applicationType === 'SERVICE'">
  <ng2-smart-table *ngIf="deployments.length > 0" [settings]="settingsDefault" [source]="deployments"></ng2-smart-table>
</div>

<div *ngIf="application?.applicationType === 'SCHEDULED_JOB'">
  <ng2-smart-table *ngIf="deployments.length > 0" [settings]="settingsCronjob" [source]="deployments"></ng2-smart-table>
</div>

<div *ngIf="application?.applicationType === 'STATEFUL_SET'">
  <ng2-smart-table *ngIf="deployments.length > 0" [settings]="settingsStatefulSet" [source]="deployments"></ng2-smart-table>
</div>

<div style="padding-top:30px;">
  <p>Capillary Cloud Deployments</p>
  <ng2-smart-table *ngIf="ccDeployments.length > 0" [settings]="settingsCC" [source]="ccDeployments"></ng2-smart-table>
</div>
