<div style="width: 500px; text-align: center">
<nb-card size=large>
  <nb-card-header>
    Environment Variables
  </nb-card-header>
  <nb-card-body>
    <table *ngIf="deployment.configurations.length > 0" class="table table-bordered">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
        <tr *ngFor="let conf of deployment?.configurations">
          <td> {{conf.name}}</td>
          <td> {{conf.value}}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
</div>
