<ion-content ngClass="graybackground">
  <ion-grid fixed>
    <ion-toolbar color=dark>
      <ion-title>{{application?.name}}</ion-title>
      <ion-button color=light fill=clear slot="end" (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-toolbar>
    <ion-card-header color=light><b>Application Details</b></ion-card-header>
    <ion-item>
      <ion-label>Name</ion-label>
      {{application?.name}}
    </ion-item>
    <ion-item>
      <ion-label>VCS</ion-label>
      <a href="{{application?.repositoryUrl}}">{{application?.vcsProvider | lowercase}}</a>
    </ion-item>
    <ion-item>
      <ion-label>Application Subdirectory</ion-label>
      {{application?.applicationRootDirectory}}
    </ion-item>
    <ion-item>
      <ion-label>Application Type</ion-label>
      {{application?.buildType}}
    </ion-item>
    <ion-item>
      <ion-label>Loadbalancer Type</ion-label>
      {{application?.loadBalancerType}}
    </ion-item>
    <ion-item>
      <ion-label>DNS Prefix</ion-label>
      {{application?.dnsPrefix}}
    </ion-item>
    <ion-item *ngIf="application?.applicationFamily === 'ECOMMERCE'">
      <ion-label>Mount CP Shared Volume</ion-label>
      {{application?.commonConfigs && application?.commonConfigs["MOUNT_CIFS"] ? application?.commonConfigs["MOUNT_CIFS"] : "false"}}
    </ion-item>
    <div *ngFor="let port of application?.ports">
      <ion-card-header color=light><b>{{port.name | uppercase}} Port</b></ion-card-header>
      <ion-item>
        <ion-label>Container Port</ion-label>
        {{port.containerPort}}
      </ion-item>
      <ion-item>
        <ion-label>Loadbalancer Port</ion-label>
        {{port.lbPort}}
      </ion-item>
    </div>
    <div>
      <ion-card-header color=light><b>Liveliness Probe</b></ion-card-header>
      <ion-item>
        <ion-label>Port</ion-label>
        {{application?.healthCheck?.livenessProbe?.port}}
      </ion-item>
      <ion-item>
        <ion-label>HTTP Path</ion-label>
        {{application?.healthCheck?.livenessProbe?.httpCheckEndpoint}}
      </ion-item>
      <ion-item>
        <ion-label>Initial Delay</ion-label>
        {{application?.healthCheck?.livenessProbe?.initialDelaySeconds}}
      </ion-item>
      <ion-item>
        <ion-label>Interval</ion-label>
        {{application?.healthCheck?.livenessProbe?.periodSeconds}}
      </ion-item>
      <ion-item>
        <ion-label>Success Threshold</ion-label>
        {{application?.healthCheck?.livenessProbe?.successThreshold}}
      </ion-item>
      <ion-item>
        <ion-label>Failure Threshold</ion-label>
        {{application?.healthCheck?.livenessProbe?.failureThreshold}}
      </ion-item>
      <ion-item>
        <ion-label>Timeout</ion-label>
        {{application?.healthCheck?.livenessProbe?.timeout}}
      </ion-item>

    </div>
    <div>
      <ion-card-header color=light><b>Readiness Probe</b></ion-card-header>
      <ion-item>
        <ion-label>Port</ion-label>
        {{application?.healthCheck?.readinessProbe?.port}}
      </ion-item>
      <ion-item>
        <ion-label>HTTP Path</ion-label>
        {{application?.healthCheck?.readinessProbe?.httpCheckEndpoint}}
      </ion-item>
      <ion-item>
        <ion-label>Initial Delay</ion-label>
        {{application?.healthCheck?.readinessProbe?.initialDelaySeconds}}
      </ion-item>
      <ion-item>
        <ion-label>Interval</ion-label>
        {{application?.healthCheck?.readinessProbe?.periodSeconds}}
      </ion-item>
      <ion-item>
        <ion-label>Success Threshold</ion-label>
        {{application?.healthCheck?.readinessProbe?.successThreshold}}
      </ion-item>
      <ion-item>
        <ion-label>Failure Threshold</ion-label>
        {{application?.healthCheck?.readinessProbe?.failureThreshold}}
      </ion-item>
      <ion-item>
        <ion-label>Timeout</ion-label>
        {{application?.healthCheck?.readinessProbe?.timeout}}
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
