@import 'themes';
@import '~@nebular/theme/styles/globals';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/bootstrap';
@import "~jsoneditor/dist/jsoneditor.min.css";


@include nb-install() {
  @include nb-theme-global();
}

/**
Smart Table Actions
 */
.cc-no-standard ng2-st-tbody-edit-delete {
  display: none!important;
}
.nb-edit:before {
  content: "\e943";
}

/* You can add global styles to this file, and also import other style files */
.align-right {
  right: 0;
  position: absolute;
}

.align-left {
  left: 0;
  position: absolute;
}

.brand-font {
  font-family: fantasy;
  cursor: pointer;
}

.large-font {
  font-size: x-large;
}

.green {
  color: #80C242;
}

.selectable {
  cursor: pointer;
  border: solid thin #c2cada;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: inline-block;
  border-radius: nb-theme(border-radius);
  .header {
    border-bottom: solid nb-theme(divider-width) nb-theme(color-basic-300);
    padding-bottom: 0.5rem;
  }
  .body {
    padding-top: 0.5rem;
  }
}

nav.fixed {
  padding-top: 0 !important;
}

nb-card-header{
  color: #222b45;
  font-weight: 400 !important;
  font-size: 1.1rem !important;
}
.cc-key {
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.cc-margin-bottom{
  margin-bottom: 1rem;
}
