<app-layout-one-column>
    <nb-card>
    <nb-card-header>
    <div style="float:left;">Stacks</div>
    <div style="float:right;">
    <button
              nbButton
              fullWidth
              status="primary"
              (click)="createStack()"
              >

              Create Stack
    </button>
    </div>
    </nb-card-header>
      <nb-card-body>
        <ng2-smart-table  class="cc-no-standard" [settings]="tableSettings" [source]="stacks" (custom)="gotoPage($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>

</app-layout-one-column>
