<nb-layout>
  <nb-layout-header fixed size="small">
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column class="container-fluid">
    <nb-card accent="info">
      <nb-card-header>Stack Selection</nb-card-header>
      <nb-card-body>
        <div class="row" *ngFor="let item of stacks">
          <div class="col-lg-4 col-sm-12 col-md-6" routerLink="/capc/{{item.name}}">
            <div class="selectable">
              <div class="header large-font">
                {{item.name | uppercase}}
              </div>
              <div class="body">
                {{item.vcsUrl}}
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card accent="warning">
      <nb-card-header>About Capillary Cloud</nb-card-header>
      <nb-card-body>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
