<app-layout-one-column>
  <nb-card>
    <nb-card-header>
      Update Details for Proviced Resources
    </nb-card-header>
    <nb-card-body>
      <form #form="ngForm">
        <nb-accordion multi class="col-md-12" *ngFor="let resource of providedResources?.providedCloudResources">
          <nb-accordion-item expanded>
            <nb-accordion-item-header>
              Details for {{resource.resourceName}} ({{resource.resourceType}})
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-form-field label='Region' [name]="resource.resourceType + resource.resourceName + 'region'" placeholder="Region"
                              tooltipText="Region of the existing {{resource.resourceType}} resource"
                              [(ngModel)]="resource.region" required=true></app-form-field>
              <app-form-field label='Name' [name]="resource.resourceType + resource.resourceName + 'name'" placeholder="Name"
                              tooltipText="Name of the existing {{resource.resourceType}} resource"
                              [(ngModel)]="resource.name" required=true></app-form-field>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button class=" cc-margin-right" nbButton status="primary" (click)='save()'
              [disabled]="!form.valid">Update
      </button>
      <!--button class=" cc-margin-right" status="basic" nbButton>Cancel</button-->
    </nb-card-footer>
  </nb-card>


</app-layout-one-column>
