<nb-card size="huge">
  <nb-card-header>
    Deploying build <i>"{{build?.description}}"</i> of application <i>"{{application?.name}}"</i> {{deployment.environment ? 'to ' + deployment.environment + ' cluster': ''}}
  </nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper disableStepNavigation=true linear=true>
      <nb-step [stepControl]="cluster" label="Select Cluster">
        <nb-alert size="tiny" *ngIf="!build?.promoted" accent="warning" style="text-align: center">Unpromoted builds may only be deployed to QA environments</nb-alert>
        <div style="width:10%; margin: auto; min-width: 100px;">
          <nb-select required [(ngModel)]="deployment.environment" #cluster="ngModel" name="cluster" id="cluster"
            placeholder="Select Cluster" fixedWidth>
            <nb-option #cluster *ngFor="let environment of environments" value="{{environment.name}}">
              {{environment.name}}
            </nb-option>
          </nb-select>
        </div>
        <div style="padding-top: 1rem; float: right;">
          <button nbButton (click)="environmentSelected(stepper)">next</button>
        </div>
      </nb-step>
      <nb-step [stepControl]="schedule" label="Select Schedule" *ngIf="application?.applicationType === 'SCHEDULED_JOB'">
        <nb-alert size="tiny" *ngIf="!build?.promoted" accent="warning" style="text-align: center">Enter a valid cron pattern</nb-alert>
        <div style="width:20%; margin: auto; min-width: 100px;">
            <input type="text" #schedule="ngModel" required nbInput fullWidth name="schedule" id="schedule"
            [(ngModel)]="deployment.schedule" placeholder="Every 2 hours: 0 */2 * * *">
        </div>
        <div style="padding-top: 1rem; float: right;">
          <button [disabled]="!schedule.valid" nbButton (click)="scheduleEnteredStepper(stepper)">next</button>
        </div>
      </nb-step>
      <nb-step [stepControl]="podSize" label="Configure Pod Size">
        <div style="width:10%; margin: auto; min-width: 100px;">
          <nb-select required [(ngModel)]="deployment.podSize" #podSize="ngModel" name="podSize" id="podSize"
            placeholder="Select Pod Size" fixedWidth>
            <nb-option value="MICRO">
              MICRO (0.25core/0.5GiB)
            </nb-option>
            <nb-option value="TINY">
              TINY (0.5core/1GiB)
            </nb-option>
            <nb-option value="SMALL">
              SMALL (1core/2GiB)
            </nb-option>
            <nb-option value="LARGE">
              LARGE (2core/4GiB)
            </nb-option>
            <nb-option value="XLARGE">
              XLARGE (3core/6GiB)
            </nb-option>
            <nb-option value="XXLARGE">
              XXLARGE (6core/12GiB)
            </nb-option>
          </nb-select>
        </div>
        <div style="padding-top: 1rem; float: right;">
          <button [disabled]="podSize.invalid" nbButton nbStepperNext>Next</button>
        </div>
      </nb-step>
      <nb-step label="Configure Replicas" *ngIf="application?.applicationType === 'STATEFUL_SET'">
        <div style="width: 25%; margin: auto; min-width: 300px;">
          <label for="Replicas" class="label">Replicas</label>
          <input type=number #replicas="ngModel" required nbInput fullWidth name="replicas" id="replicas"
            [(ngModel)]="deployment.replicas" placeholder="Defaults to 1">
        </div>
        <div style="padding-top: 1rem; float: right;">
          <button nbButton nbStepperNext  >Next</button>
        </div>
      </nb-step>
      <nb-step label="Configure Environment Variables">
        <ng2-smart-table (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="validateConfig($event)" (editConfirm)="validateEditConfig($event)" [settings]="settings" [source]="deployment.configurations"></ng2-smart-table>
        <div style="padding-top: 1rem; float: right;">
          <button nbButton nbStepperNext *ngIf="application?.applicationType === 'SERVICE'">next</button>
          <button nbButton (click)="deploy(stepper)" *ngIf="application?.applicationType !== 'SERVICE'">Deploy</button>
        </div>
      </nb-step>
      <nb-step label="Configure Autoscaling" *ngIf="application?.applicationType === 'SERVICE'">
        <div style="width: 25%; margin: auto; min-width: 300px;">
          <label for="minReplicas" class="label">Minimum Replicas</label>
          <input type=number #minReplicas="ngModel" required nbInput fullWidth name="minReplicas" id="minReplicas"
            [(ngModel)]="deployment.horizontalPodAutoscaler.minReplicas">
          <label for="maxReplicas" class="label">Maximum Replicas</label>
          <input type=number #maxReplicas="ngModel" required nbInput fullWidth name="maxReplicas" id="maxReplicas"
            [(ngModel)]="deployment.horizontalPodAutoscaler.maxReplicas">
          <label for="threshold" class="label">CPU Threshold (%)</label>
          <input type=number #threshold="ngModel" required nbInput fullWidth name="threshold" id="threshold"
            [(ngModel)]="deployment.horizontalPodAutoscaler.threshold">
        </div>
        <div style="padding-top: 1rem; float: right;">
          <button nbButton (click)="deploy(stepper)" >Deploy</button>
        </div>
      </nb-step>
      <nb-step #deployStep label="Deploy">
        <nb-card *ngIf="loading" [nbSpinner]="loading" status="info">
        </nb-card>
      </nb-step>
      <nb-step [hidden]=true>
        <nb-alert size="tiny" *ngIf="!build?.promoted" status="success" style="text-align: center">Successfully Deployed!!</nb-alert>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
