<div class="test">
  <div class="align-left navigation">

    <nb-actions size="small">
      <nb-action>
        <div class="brand-font green large-font" routerLink="/capc/home" *ngIf="!isDemo" style="width: 100px">
          <!--Logo to be fetched from API-->
          <img alt="capillary-logo"
               src="https://www.capillarytech.com/img/CapillaryTech.svg">
        </div>
      </nb-action>
      <nb-action>
        <nb-select size="small" placeholder="Navigation" [(selected)]="currentNav" (selectedChange)="navToPageLeft($event)">
          <nb-option-group *ngFor="let nav of newNav" title="{{nav.groupName}}">
            <nb-option #cluster *ngFor="let page of nav.pages" value="{{page.url}}" size="small">
              {{page.title}}
            </nb-option>
          </nb-option-group>
        </nb-select>
      </nb-action>
    </nb-actions>
  </div>

  <div class="align-right">
    <nb-actions size="small" >
      <nb-action *ngIf="isClusterContext">
        <nb-select size="small" placeholder="Select Cluster" [(selected)]="currentClusterURL" (selectedChange)="navToPage()">
          <nb-option-group *ngFor="let stack of stackClusters | keyvalue" title="{{stack.key}}">
            <nb-option #cluster *ngFor="let cluster of stack.value" value="{{cluster.stackName}}/cluster/{{cluster.id}}">
              {{cluster.name}}
            </nb-option>
          </nb-option-group>
        </nb-select>
      </nb-action>
      <nb-action *ngIf="!isClusterContext">
        <nb-select size="small" placeholder="Global">
          <nb-option-group *ngFor="let stack of stackClusters | keyvalue" title="{{stack.key}}" disabled>
            <nb-option #cluster *ngFor="let cluster of stack.value">
              {{cluster.name}}
            </nb-option>
          </nb-option-group>
        </nb-select>
      </nb-action>
      <nb-action icon="settings-2-outline" [nbContextMenu]="settingsItems" nbContextMenuTrigger="hover" *appUserRole="['cc-admin']">

      </nb-action>
      <nb-action>
        <nb-user [name]=userName [picture]="user?.attributes?.picture" [showInitials]="true"  [showTitle]="false"
                 [nbContextMenu]="userItems" nbContextMenuTrigger="hover" size="medium" nbContextMenuTag='user-menu'></nb-user>
      </nb-action>
    </nb-actions>
  </div>
</div>
