apiVersion: v1
data:
  containers.input.conf: |-
    <match **fluentd**>
      type null
    </match>
    <match **deis**>
      type null
    </match>
    <match **kube-system**>
      type null
    </match>
    <match **kibana**>
      type null
    </match>
    <match **elasticsearch**>
      type null
    </match>
    <match **monitoring**>
      type null
    </match>
    <match **newrelic**>
      type null
    </match>
    <source>
      type tail
      path /var/log/containers/*.log
      pos_file /var/log/es-containers.log.pos
      time_key timestamp
      time_format %Y-%m-%d%t%H:%M:%S.%N
      tag kubernetes.*
      format json
      read_from_head false
    </source>
  output.conf: |-
    <filter kubernetes.**>
      type kubernetes_metadata
    </filter>
    <match **>
      type elasticsearch
      host {{ .Values.esHost }}
      port {{ .Values.esPort }}
      scheme {{ .Values }}
      logstash_prefix qak8s-ecom
      include_tag_key true
      logstash_format true
      reload_connections false
      reload_on_failure false
      buffer_chunk_limit 4M
      buffer_queue_limit 64
      flush_interval 5s
      max_retry_wait 20
      disable_retry_limit
      num_threads 6
    </match>
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
