<nb-card>
  <nb-accordion>
    <nb-accordion-item collapsed=false>
      <nb-accordion-item-header>Pods</nb-accordion-item-header>
      <nb-accordion-item-body>
          <nb-alert *ngIf="stopping" accent="warning">
              Pods are stopping
            </nb-alert>
            <nb-alert *ngIf="starting" accent="warning">
                Pods are starting
            </nb-alert>
            <nb-alert *ngIf="stopped" accent="warning">
                Pods are stopped
            </nb-alert>
          <div style="margin-bottom: 1rem">
              <button *ngIf="!stopped && !stopping" nbButton outline status="danger" (click)="showHaltPodsDialog(haltConfirmDialog)">Stop All Pods</button>
              <button *ngIf="stopped" nbButton outline status="info" (click)="startPods()">Start All Pods</button>
          </div>
          <ng2-smart-table [settings]="settings" [source]="deploymentStatus?.pods"></ng2-smart-table>
      </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="deploymentStatus?.service">
        <nb-accordion-item-header>Service Details</nb-accordion-item-header>
      <nb-accordion-item-body>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">DNS</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.service?.externalDns}}</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">Internal Endpoint</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.service?.internalEndpoints[0]?.endpoint}}</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">External Endpoint</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.service?.externalEndpoints[0]?.endpoint}}</div>
      </div>
    </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item>
        <nb-accordion-item-header>Environment Variables</nb-accordion-item-header>
      <nb-accordion-item-body>
      <ng2-smart-table *ngIf="deploymentStatus" [settings]="envTableSettings" [source]="environmentVariables">
      </ng2-smart-table>
    </nb-accordion-item-body>
    </nb-accordion-item>
    <nb-accordion-item *ngIf="application?.applicationType === 'SERVICE'">
      <nb-accordion-item-header>Autoscaling Status</nb-accordion-item-header>
      <nb-accordion-item-body>
      <div class="row">
        <div style="padding-top: 0.25rem" class="col-3">Minimum Replicas</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.deployment?.hpaStatus?.minReplicas}}</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.25rem" class="col-3">Maximum Replicas</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.deployment?.hpaStatus?.maxReplicas}}</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">Target CPU Utilization</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.deployment?.hpaStatus?.targetCPUAvg}}%</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">Current CPU Utilization</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.deployment?.hpaStatus?.currentCPUAvg}}%</div>
      </div>
      <div class="row">
        <div style="padding-top: 0.5rem" class="col-3">Current Replicas</div>
        <div style="padding-top: 0.5rem" class="col-4">{{deploymentStatus?.deployment?.hpaStatus?.currentReplicas}}</div>
      </div>
    </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</nb-card>

<ng-template #haltConfirmDialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>Are you sure?</nb-card-header>
      <nb-card-body>This action will stop the application completely</nb-card-body>
      <nb-card-footer>
        <span style="padding-right: 0.5rem;">
          <button nbButton status="danger" (click)="ref.close()">Cancel</button>
        </span>
        <button nbButton status="success" (click)="haltPods(); ref.close();">Confirm</button>
      </nb-card-footer>
    </nb-card>
</ng-template>

