{
"data":
{
"type": "infra_metric",
"name": "{{alertName}}-restart-limit-exceeded",
"enabled": true,
"filter": {
"and": [
{
"is": {
"deploymentName": "{{applicationName}}"
}
},
{
"is": {
"clusterName": "{{clusterName}}"
}
}
]
},
"violation_close_timer": 24,
"policy_id": {{ policyId}},
"event_type": "K8sContainerSample",
"select_value": "restartCount",
"comparison": "above",
"critical_threshold": {
"value": 2,
"duration_minutes": 1,
"time_function": "all"
}
}
}