<nb-card [nbSpinner]="!(branches?.length > 0) && !branchloadingFailed" nbSpinnerStatus="danger" nbSpinnerSize="large">
  <nb-card-header>Build {{application?.name}}</nb-card-header>
  <nb-card-body>
    <form #buildForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="buildbranch" class="label">Branch/Tag</label>
        <input [nbPopoverAdjustment]="adjustment" [nbPopover]="searchResults" [nbPopoverPlacement]="position" [nbPopoverTrigger]="trigger" (input)="searchBranch($event.target.value)" nbInput #buildbranch="ngModel" required type="text" fullWidth name="buildbranch" id="buildbranch" placeholder="origin/master" [(ngModel)]="build.tag">
      </div>
      <div class="form-group">
        <label for="builddescription" class="label">Description</label>
        <input required type="text" nbInput fullWidth name="builddescription" id="builddescription" placeholder="Fix for #123" [(ngModel)]="build.description">
      </div>
      <button [disabled]="!buildForm.valid" type="submit" nbButton status="danger">Submit</button>
    </form>
  </nb-card-body>
</nb-card>
<ng-template #searchResults>
  <div style="width: 18rem; overflow-y: scroll; max-height:200px;">
    <nb-menu tag="menu" [items]="filteredBranches"></nb-menu>
  </div>
</ng-template>
