name: GA-Planner

env:
  COLUMNS: 220

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'RC Branch Name'
        required: true
      refbranchName:
        description: 'Ref branch name to use'
        default: tfdev
      streamMajorVersion:
        description: 'Stream Major Version'
        default: "2"
      branchMajorVersion:
        description: 'Major Version for Branch'
        default: "50"
      branchMinorVersion:
        description: 'Minor Version for Branch'
        default: latest
      runMigrationScripts:
        description: 'Run migration scripts?'
        type: choice
        required: false
        default: 'false'
        options:
          - 'true'
          - 'false'

jobs:
  build:
    runs-on: iac-arc
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.refbranchName }}
      - name: Install dependencies from requirements.txt
        run: python -m pip install -r .github/workflows/ga_planner/requirements.txt
      - name: Invoke GA Planner python Script
        run: |
          cd .github/workflows/ga_planner
          JSON_CONTENT='${{ secrets.GA_CONTROL_PLANES }}'
          echo "$JSON_CONTENT" > control_planes.json
          python main.py
        env:
          RC_BRANCH: ${{ inputs.branchName }}
          GA_AWS_ACCESS_KEY: ${{ secrets.GA_AWS_ACCESS_KEY }}
          GA_AWS_SECRET_KEY: ${{ secrets.GA_AWS_SECRET_KEY }}
          MAJOR_VERSION: ${{ inputs.branchMajorVersion }}
          MINOR_VERSION: ${{ inputs.branchMinorVersion }}
          STREAM_MAJOR_VERSION: ${{ inputs.streamMajorVersion }}
          RUN_MIGRATION_SCRIPTS: ${{ inputs.runMigrationScripts }}

