name: GA-Planner

env:
  COLUMNS: 220

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'RC Branch Name'
        required: true
      runMigrationScripts:
        description: 'Run migration scripts?'
        type: choice
        required: false
        default: 'false'
        options:
          - 'true'
          - 'false'
      forceRunInAllEnvironments:
        description: 'Force run in all environments?'
        type: choice
        required: false
        default: 'false'
        options:
          - 'true'
          - 'false'

jobs:
  build:
    runs-on: iac-arc
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branchName }}
          fetch-depth: 0  # Fetch all history and branches
      - name: Install dependencies from requirements.txt
        run: python -m pip install -r .github/workflows/ga_planner/requirements.txt
      - name: Invoke GA Planner python Script
        run: |
          cd .github/workflows/ga_planner
          JSON_CONTENT='${{ secrets.GA_CONTROL_PLANES }}'
          echo "$JSON_CONTENT" > control_planes.json
          python main.py
        env:
          RC_BRANCH: ${{ inputs.branchName }}
          GA_AWS_ACCESS_KEY: ${{ secrets.GA_AWS_ACCESS_KEY }}
          GA_AWS_SECRET_KEY: ${{ secrets.GA_AWS_SECRET_KEY }}
          MAJOR_VERSION: "50"
          RUN_MIGRATION_SCRIPTS: ${{ inputs.runMigrationScripts }}
          FORCE_RUN_ALL_ENVIRONMENTS: ${{ inputs.forceRunInAllEnvironments }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          CLICKUP_API_TOKEN: ${{ secrets.CLICKUP_API_TOKEN }}
          CLICKUP_SPACE_ID: ${{ vars.CLICKUP_SPACE_ID }}
          CLICKUP_ROOT_PAGE_ID: ${{ vars.CLICKUP_ROOT_PAGE_ID }}
          CLICKUP_DOC_ID: ${{ vars.CLICKUP_DOC_ID }}