name: GA-Planner

env:
  COLUMNS: 120

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'RC Branch Name'
        required: true    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: tfdev
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.7'
      - name: Install dependencies from requirements.txt
        run: python -m pip install -r .github/workflows/ga_planner/requirements.txt
      - name: Invoke GA Planner python Script
        run: |
          cd .github/workflows/ga_planner
          JSON_CONTENT='${{ secrets.GA_CONTROL_PLANES }}'
          echo "$JSON_CONTENT" > control_planes.json
          python main.py
        env:
          RC_BRANCH: ${{ inputs.branchName }}
          GA_AWS_ACCESS_KEY: ${{ secrets.GA_AWS_ACCESS_KEY }}
          GA_AWS_SECRET_KEY: ${{ secrets.GA_AWS_SECRET_KEY }}
