name: Cherry-pick Merged PRs

on:
  issue_comment:
    types: [created]

permissions:
  contents: write
  pull-requests: write

jobs:
  cherry-pick:
    if: github.event.issue.pull_request && github.event.comment.body == '/perform-hotfix'
    runs-on: ubuntu-latest

    steps:
      - name: Check team membership
        uses: tspascoal/get-user-teams-membership@v2
        id: actorTeams
        with:
          username: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Check if user belongs to team
        run: |
          if [[ "${{ steps.actorTeams.outputs.teams }}" == *"infra-release-managers"* ]]; then
            echo "User belongs to team"
          else
            echo "User does not belong to team"
            exit 1
          fi
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: 'tfdev' # Make sure we checkout the branch where PR gets merged

      - name: Install GitHub CLI
        run: |
          curl -sSL https://github.com/cli/cli/releases/download/v2.3.0/gh_2.3.0_linux_amd64.tar.gz -o ghcli.tar.gz
          tar xvf ghcli.tar.gz
          sudo mv gh_*/bin/gh /usr/local/bin/
          rm -rf ghcli.tar.gz gh_*

      - name: Authenticate GH CLI
        run: gh auth login --with-token <<< ${{ secrets.GITHUB_TOKEN }}
      
      - name: Check if PR is merged
        id: check
        run: |
          PR_MERGED=$(gh pr view ${{ github.event.issue.number }} --json state -q '.state')
          echo "::set-output name=merged::$PR_MERGED"

      - name: Get squash merge commit ID
        id: commit_id
        run: |
          if [[ "${{ steps.check.outputs.merged }}" == "MERGED" ]]; then
            COMMIT_ID=$(gh pr view ${{ github.event.issue.number }} --json mergeCommit -q '.mergeCommit.oid')
            echo "::set-output name=id::$COMMIT_ID"
          else
            echo "PR not merged"
            exit 1
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Git identity
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Checkout production branch
        run: git checkout production

      - name: Cherry-pick commit
        run: git cherry-pick ${{ steps.commit_id.outputs.id }}

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'production'
          
      - name: Increment version patch and push tag
        run: |
          # Fetch all tags from remote
          git fetch --tags

          # Get the latest tag name
          latestTag=$(git describe --tags `git rev-list --tags --max-count=1`)

          # Extract major, minor, and patch versions
          majorVersion=$(echo $latestTag | cut -d. -f1)
          minorVersion=$(echo $latestTag | cut -d. -f2)
          patchVersion=$(echo $latestTag | cut -d. -f3)

          # Increment the patch version
          newPatchVersion=$((patchVersion + 1))

          # Construct the new tag name
          newTag="$majorVersion.$minorVersion.$newPatchVersion"

          # Set the new tag
          git tag $newTag

          # Push the new tag to remote
          git push origin $newTag
          
          # Output the new tag for use in later steps
          echo "::set-output name=newTag::$newTag"

        env:
          GIT_COMMITTER_NAME: ${{ github.actor }}
          GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com

      - name: Trigger Jenkins job
        run: |
          curl -X POST "https://jenkins.root.console.facets.cloud/job/tf/buildWithParameters?ref=${{ steps.tag.outputs.newTag }}" \
            --user "username:${{ secrets.JENKINS_TOKEN }}"

      - name: Add comment to PR
        uses: actions/github-script@v3
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const issueComment = `The new tag [${{ steps.tag.outputs.newTag }}](https://github.com/${{ github.repository }}/releases/tag/${{ steps.tag.outputs.newTag }}) has been created and the Jenkins job has been triggered.`
            github.issues.createComment({
              issue_number: ${{ github.event.issue.number }},
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: issueComment
            })
