name: release-candidate
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: false
jobs:
  release-candidate:
    runs-on: iac-arc
    steps:
      - name: Check team membership
        uses: tspascoal/get-user-teams-membership@v2
        id: actorTeams
        with:
          username: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Checkout branch "tfdev"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: 'tfdev'
      - name: Determine tag to build
        id: tag
        run: |
          if [[ -n "${{ inputs.tag }}" ]]; then
            tag="${{ inputs.tag }}"
            echo "Tag: $tag"
          else
            echo "Tag input is not provided. Incrementing the minor version to build the tag."
            # Fetch all tags from remote
            git fetch --tags
            # Get the latest tag name
            latestTag=$(git tag --sort=-v:refname | head -n 1)
            # Extract major, minor, and patch versions
            majorVersion=$(echo $latestTag | cut -d. -f1)
            minorVersion=$(echo $latestTag | cut -d. -f2)
            patchVersion=0
            # Increment the minor version
            newMinorVersion=$((minorVersion + 1))
            # Construct the new tag name
            tag="$majorVersion.$newMinorVersion.$patchVersion"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT
      - name: Configure git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Merge production -> tfdev
        run: |
          git checkout tfdev
          git merge origin/production -m "[Automated] Merging production to tfdev for creating release candidate rc-${{ steps.tag.outputs.tag }}"
          git push origin tfdev
      - name: Creating the release candidate branch
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          set -e
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          if gh api repos/$GITHUB_REPOSITORY/branches/rc-${{ steps.tag.outputs.tag }} --silent; then
            echo "Release candidate branch already exists. Exiting."
            exit 1
          else
            git checkout -b rc-${{ steps.tag.outputs.tag }}
          fi
          git push origin rc-${{ steps.tag.outputs.tag }}
      - name: Post Success to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ vars.IAC_QA_CHANNEL_ID }}
          slack-message: 'Release Candidate rc-${{ steps.tag.outputs.tag }} branch is ready for QA testing.'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}