  name: schema-documentation
  on:
    workflow_dispatch:
      inputs:
        tag:
          description: 'Tag'
          required: true
        ref:
          description: 'Ref'
          required: false
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Check version
          id: tag_check
          run: |
            if [[ "${{ github.event.inputs.tag }}" != 2.* ]]; then
                echo "Error: The tag must start with '2.'"
                exit_status=1
                exit 1
            fi
        - name: Checkout Facets-IAC code
          uses: actions/checkout@v2
          with:
            repository: Facets-cloud/facets-iac
            fetch-depth: 0
            token:  ${{ secrets.PAT }}
            ref: ${{ github.event.inputs.tag || github.event.inputs.ref }}
        - name: Setup python
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
        - name: Install Python packages
          run: |
            python -m pip install --upgrade pip
            pip install inflect
        - name: Run schema-metadata script
          run: python3 schema-metadata.py
        - name: Checkout Facets-Schema repository
          uses: actions/checkout@v2
          with:
            token:  ${{ secrets.PAT }}
            repository: Facets-cloud/facets-schemas
            path: target
            ref: 'master'
        - name: Copy documentations from Facets-IAC to Facets-Schema
          shell: bash
          id: run
          run: |
            cd target
            echo "Removing all files from facets-schema"
            rm -rf schemas traits README.md schema-metadata.json
            ls 
            echo "removed all files"
            # Copying updated docs from facetsIAC 
            cp -R ../capillary-cloud-tf/docs/schemas schemas
            cp -R ../capillary-cloud-tf/docs/traits traits
            cp -R ../capillary-cloud-tf/docs/README.md README.md
            echo "Updating schema-metadata.json"
            cp -R ../schema-metadata.json schema-metadata.json
        - name: Set Git identity
          run: |
            cd target
            pwd
            git status
            echo $(git config --list)
            echo "git identity"
            git config --global user.name "${{ github.actor }}"
            git config --global user.email "${{ github.actor }}@users.noreply.github.com"  
            echo "git commit"
            git status
            git add . 
            git commit -m "Publishing docs for release ${{ inputs.tag || inputs.ref}}"
        - name: Push changes to Facets-schema
          uses: ad-m/github-push-action@master
          with:
            github_token: ${{ secrets.PAT }}
            directory: target
            repository: Facets-cloud/facets-schemas
            branch: 'master' ## master branch of facets-schemas repository
          env:
            GIT_COMMITTER_NAME: ${{ github.actor }}
            GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com

        - name: Post failed schema documentation notification to a Slack channel
          uses: slackapi/slack-github-action@v1.24.0
          with:
            channel-id: ${{ secrets.CHANNEL_ID }}
            slack-message: 'Schema documentation updated for tag ${{ inputs.tag }}'
          env:
            SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}

        - name: Post failed schema documentation notification to a Slack channel
          if: failure()
          uses: slackapi/slack-github-action@v1.24.0
          with:
            channel-id: ${{ secrets.CHANNEL_ID }}
            slack-message: 'Schema documentation failed to update for tag ${{ inputs.tag }}'
          env:
            SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
