name: stage
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: false
      ref:
        description: 'Ref'
        required: false
jobs:
  determine-tag-and-ref:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
      ref: ${{ steps.tag.outputs.ref }}
    steps:
      - name: Check team membership
        uses: tspascoal/get-user-teams-membership@v2
        id: actorTeams
        with:
          username: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Check if user belongs to team
        run: |
          if [[ "${{ steps.actorTeams.outputs.teams }}" == *"infra-release-managers"* ]]; then
            echo "User belongs to team"
          else
            echo "User does not belong to team"
            exit 1
          fi
      - name: Checkout branch "production"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: 'tfdev'
      - name: Determine tag and ref to build
        id: tag
        run: |
          if [[ -n "${{ inputs.tag }}" ]]; then
            tag="${{ inputs.tag }}"
            echo "Tag: $tag"
          else
            echo "Tag input is not provided. Incrementing the minor version to build the tag."
            # Fetch all tags from remote
            git fetch --tags
            # Get the latest tag name
            latestTag=$(git tag --sort=-v:refname | head -n 1)
            # Extract major, minor, and patch versions
            majorVersion=$(echo $latestTag | cut -d. -f1)
            minorVersion=$(echo $latestTag | cut -d. -f2)
            patchVersion=0
            # Increment the minor version
            newMinorVersion=$((minorVersion + 1))
            # Construct the new tag name
            tag="$majorVersion.$newMinorVersion.$patchVersion"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT
          if [[ -n "${{ inputs.ref }}" ]]; then
            ref="${{ inputs.ref }}"
            echo "Ref: $ref"
          else
            echo "Ref input is not provided. Using 'production' as the default value."
            ref="production"
          fi
          echo "ref=$ref" >> $GITHUB_OUTPUT
  merge-rc:
    runs-on: ubuntu-latest
    needs: determine-tag-and-ref
    steps:
      - name: Merge release candidate -> production
        if: "${{ github.event.inputs.ref == '' }}"
        uses: everlytic/branch-merge@1.1.5
        with:
          github_token: ${{ secrets.PAT }}
          source_ref: 'rc-${{ needs.determine-tag-and-ref.outputs.tag }}'
          target_branch: 'production'
      - name: Merge release candidate -> tfdev
        if: "${{ github.event.inputs.ref == '' }}"
        uses: everlytic/branch-merge@1.1.5
        with:
          github_token: ${{ secrets.PAT }}
          source_ref: 'rc-${{ needs.determine-tag-and-ref.outputs.tag }}'
          target_branch: 'tfdev'
  generate-tag:
    runs-on: ubuntu-latest
    needs: [determine-tag-and-ref,merge-rc]
    steps:
      - name: Checkout ref branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: '${{ needs.determine-tag-and-ref.outputs.ref }}'
      - name: Generate Tag
        shell: bash
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git tag -a ${{ needs.determine-tag-and-ref.outputs.tag }} -m "[Automated] Building tag ${{ needs.determine-tag-and-ref.outputs.tag }}"
          git push origin ${{ needs.determine-tag-and-ref.outputs.tag }}
      - name: Install zip
        uses: montudor/action-zip@v1
      - name: Zip output
        run: zip -r ${{ needs.determine-tag-and-ref.outputs.tag }}.zip capillary-cloud-tf
      - name: Upload file to bucket
        uses: zdurham/s3-upload-github-action@master
        env:
          FILE: ${{ needs.determine-tag-and-ref.outputs.tag }}.zip
          AWS_REGION: ${{ secrets.AWS_REGION }}
          S3_BUCKET: ${{ secrets.BUCKET_NAME }}
          S3_KEY: 'stage/${{ needs.determine-tag-and-ref.outputs.tag }}.zip'
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_SECRET_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      - name: Post Success to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ secrets.CHANNEL_ID }}
          slack-message: 'The new tag <https://github.com/${{ github.repository }}/releases/tag/${{ needs.determine-tag-and-ref.outputs.tag }}|${{ needs.determine-tag-and-ref.outputs.tag }}> has been successfully built. Please monitor the stage environments.'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}