name: stage
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: false
      ref:
        description: 'Ref'
        required: false
jobs:
  stage-build:
    runs-on: iac-arc
    steps:
      - name: Check team membership
        uses: tspascoal/get-user-teams-membership@v2
        id: actorTeams
        with:
          username: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Check if user belongs to team
        run: |
          if [[ "${{ steps.actorTeams.outputs.teams }}" == *"infra-release-managers"* ]]; then
            echo "User belongs to team"
          else
            echo "User does not belong to team"
            exit 1
          fi
      - name: Determine ref to build
        id: ref
        run: |
          if [[ -n "${{ inputs.ref }}" ]]; then
            ref="${{ inputs.ref }}"
            echo "Ref: $ref"
          else
            echo "Ref input is not provided. Using 'production' as the default value."
            ref="production"
          fi
          echo "ref=$ref" >> $GITHUB_OUTPUT
      - name: Checkout ref branch
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: '${{ steps.ref.outputs.ref }}'
      - name: Determine tag to build
        id: tag
        run: |
          if [[ -n "${{ inputs.tag }}" ]]; then
            tag="${{ inputs.tag }}"
            echo "Tag: $tag"
          else
            echo "Tag input is not provided. Incrementing the minor version to build the tag."
            # Fetch all tags from remote
            git fetch --tags
            # Get the latest tag name
            latestTag=$(git tag --sort=-v:refname | head -n 1)
            # Extract major, minor, and patch versions
            majorVersion=$(echo $latestTag | cut -d. -f1)
            minorVersion=$(echo $latestTag | cut -d. -f2)
            patchVersion=0
            # Increment the minor version
            newMinorVersion=$((minorVersion + 1))
            # Construct the new tag name
            tag="$majorVersion.$newMinorVersion.$patchVersion"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT
          if git branch --all | grep -q remotes/origin/rc-$tag$; then
            merge_rc="true"
            echo "Release candidate branch rc-$tag found and will be merged."
          else
            merge_rc="false"
            echo "Release candidate branch rc-$tag was not found!"
          fi
          echo "merge_rc=$merge_rc" >> $GITHUB_OUTPUT
      - name: Configure git
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Merge release candidate to production and tfdev
        if: "${{ steps.tag.outputs.merge_rc == 'true' }}"
        run: |
          git checkout tfdev
          git merge origin/rc-${{ steps.tag.outputs.tag }} -m "[Automated] Merging release candidate rc-${{ steps.tag.outputs.tag }} to tfdev for building tag ${{ steps.tag.outputs.tag }}"
          git checkout production
          git merge origin/rc-${{ steps.tag.outputs.tag }} -m "[Automated] Merging release candidate rc-${{ steps.tag.outputs.tag }} to production for building tag ${{ steps.tag.outputs.tag }}"
          git push origin production tfdev
      - name: Generate Tag, zip and upload to s3
        run: |
          CHECKOUT_BRANCH=$(git branch --show-current)
          if [[ "$CHECKOUT_BRANCH" == "${{ steps.ref.outputs.ref }}" ]]; then
           git tag -a ${{ steps.tag.outputs.tag }} -m "[Automated] Building tag ${{ steps.tag.outputs.tag }}"
           git push origin ${{ steps.tag.outputs.tag }}
           zip -r ${{ steps.tag.outputs.tag }}.zip capillary-cloud-tf
           aws s3 cp ${{ steps.tag.outputs.tag }}.zip s3://${{ secrets.BUCKET_NAME }}/stage/${{ steps.tag.outputs.tag }}.zip
           python .github/workflows/get_migrations.py capillary-cloud-tf/tfmain/scripts/migrations
           mv migrations.json ${{ steps.tag.outputs.tag }}-migrations.json
           aws s3 cp ${{ steps.tag.outputs.tag }}-migrations.json s3://${{ secrets.BUCKET_NAME }}/stage/${{ steps.tag.outputs.tag }}-migrations.json
          else
           echo "Checkout branch is not the ref branch. Exiting"
           exit 1
          fi
        env:
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_SECRET_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
      - name: Post Success to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ secrets.CHANNEL_ID }}
          slack-message: 'Tag <https://github.com/${{ github.repository }}/releases/tag/${{ steps.tag.outputs.tag }}|${{ steps.tag.outputs.tag }}> has been successfully built. Please monitor stage environments.'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_TOKEN }}
