name: Terraform Providers Caching
    
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to checkout'     
        required: true
        default: 'production'

jobs:
  terraform_providers_caching:
    runs-on: iac-arc

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.branch }}
      
    - name: Create folders
      run: mkdir build-environments/terraform-capillary-cloud/tf-cache-plugins

    - name: Downloading terraform providers
      shell: bash
      run: |
        BASE_TF_CACHE=build-environments/terraform-capillary-cloud/tf-cache-plugins
        
        registries=("registry.terraform.io" "registry.opentofu.org")
        providers=("provider=aws alias=aws4 version=4.53.0 architectures=darwin_amd64,linux_amd64 link=https://releases.hashicorp.com/terraform-provider-aws/4.53.0 path=hashicorp/aws4/4.53.0"
                   "provider=cloudflare alias=cloudflare4 version=4.29.0 architectures=darwin_amd64,linux_amd64 link=https://github.com/cloudflare/terraform-provider-cloudflare/releases/download/v4.29.0 path=cloudflare/cloudflare4/4.29.0"
                   "provider=cloudflare alias=cloudflare4a version=4.45.0 architectures=darwin_amd64,linux_amd64 link=https://github.com/cloudflare/terraform-provider-cloudflare/releases/download/v4.45.0 path=cloudflare/cloudflare4a/4.45.0"
                   "provider=azurerm alias=azurerm3 version=3.52.0 architectures=darwin_amd64,linux_amd64 link=https://releases.hashicorp.com/terraform-provider-azurerm/3.52.0 path=hashicorp/azurerm3/3.52.0"
                   "provider=azurerm alias=azurerm3-105-0 version=3.105.0 architectures=linux_amd64 link=https://releases.hashicorp.com/terraform-provider-azurerm/3.105.0 path=hashicorp/azurerm3-105-0/3.105.0"
                   "provider=azurerm alias=azurerm3-116-0 version=3.116.0 architectures=linux_amd64 link=https://releases.hashicorp.com/terraform-provider-azurerm/3.116.0 path=hashicorp/azurerm3-116-0/3.116.0"
                   "provider=scratch alias=scratch version=0.4.0 architectures=darwin_amd64,linux_amd64 link=https://github.com/BrendanThompson/terraform-provider-scratch/releases/download/v0.4.0 path=hashicorp/scratch/0.4.0"
                   "provider=google alias=google5 version=5.32.0 architectures=darwin_amd64,linux_amd64 link=https://releases.hashicorp.com/terraform-provider-google/5.32.0 path=hashicorp/google5/5.32.0"
                   "provider=aws alias=aws593 version=5.93.0 architectures=linux_amd64,darwin_amd64 link=https://releases.hashicorp.com/terraform-provider-aws/5.93.0 path=hashicorp/aws593/5.93.0"
                   "provider=aws alias=aws5 version=5.49.0 architectures=darwin_amd64,linux_amd64 link=https://releases.hashicorp.com/terraform-provider-aws/5.49.0 path=hashicorp/aws5/5.49.0"
                   "provider=helm alias=helm3 version=3.0.2 architectures=linux_amd64,darwin_amd64 link=https://releases.hashicorp.com/terraform-provider-helm/3.0.2 path=hashicorp/helm3/3.0.2"
                   "provider=facets alias=facets version=0.1.3 architectures=darwin_amd64,linux_amd64 link=https://github.com/Facets-cloud/terraform-provider-facets/releases/download/v0.1.3 path=Facets-cloud/facets/0.1.3"
                   "provider=helm alias=helm-release-pod version=3.0.2 architectures=darwin_amd64,linux_amd64 link=https://releases.hashicorp.com/terraform-provider-helm/3.0.2 path=hashicorp/helm-release-pod/3.0.2"
                   "provider=aws alias=aws3 version=3.74.0 architectures=linux_amd64 link=https://releases.hashicorp.com/terraform-provider-aws/3.74.0 path=hashicorp/aws3/3.74.0"
                   "provider=aws alias=aws3tooling version=3.74.0 architectures=linux_amd64 link=https://releases.hashicorp.com/terraform-provider-aws/3.74.0 path=hashicorp/aws3tooling/3.74.0")
        
        for registry in "${registries[@]}"; do
          # Setup alternate providers
          for provider in "${providers[@]}"; do
            declare -A map
            for keyvalue in $provider; do
              IFS='=' read key value <<< "$keyvalue"
              map["$key"]="$value"
            done
            for architecture in $(echo ${map["architectures"]} | tr ',' '\n'); do
              PLUGIN_PATH="capillary-cloud-tf/tfmain/terraform.d/plugins/${registry}/${map["path"]}/$architecture"
              echo "Downloading ${map["provider"]} provider at $PLUGIN_PATH"
              mkdir -p $PLUGIN_PATH
              curl -sLo_ "${map["link"]}/terraform-provider-${map["provider"]}_${map["version"]}_$architecture.zip"
              unzip -p _ "terraform-provider-${map["provider"]}*" > "${PLUGIN_PATH}/terraform-provider-${map["alias"]}_v${map["version"]}"
              if [ -f _ ]; then
                rm _
              fi
              if [ -f ${PLUGIN_PATH}/terraform-provider-${map["alias"]}_v${map["version"]} ]; then
                chmod 755 "${PLUGIN_PATH}/terraform-provider-${map["alias"]}_v${map["version"]}"
              fi
              echo "Done ${map["provider"]} provider"
            done
          done
        done
        
        cd capillary-cloud-tf/tfmain
        mkdir tmp_cache
        echo "terraform init to initialize modules"
        pip3 install pystache
        python3 scripts/tfmain_preprocessor/main.py --input add_aws_providers=True --input add_azure_providers=True --input add_gcp_providers=True --input add_legacy_kubernetes_providers=True
        for file in *.tf
        do
          if [ -f "$file" ] && [ "$file" != "versions.tf" ]; then
            rm "$file"
            echo "$file removed"
          fi
        done  
        terraform init
        terraform providers mirror tmp_cache || true
        tofu init
        tofu providers mirror tmp_cache || true
        for registry in "${registries[@]}"; do
          mkdir -p tmp_cache/${registry}/hashicorp/
          cp -r terraform.d/plugins/${registry}/hashicorp/* tmp_cache/${registry}/hashicorp/
          mkdir -p tmp_cache/${registry}/cloudflare/
          cp -r terraform.d/plugins/${registry}/cloudflare/* tmp_cache/${registry}/cloudflare/
        done
        cp -r terraform.d/plugins/terraform.capillary.in/ tmp_cache/
        cp -r tmp_cache/* ../../$BASE_TF_CACHE
        echo ${{ github.sha }}
     
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_SECRET_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: us-east-1
        # Change to your desired AWS region

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./build-environments/terraform-capillary-cloud/Dockerfile
        push: true
        tags: 313496281593.dkr.ecr.us-east-1.amazonaws.com/facets-tf-runtime:${{ github.run_number }}
