<div *ngIf="!resourceTypeSelected">
  <input #resourceTypeInput
         [(ngModel)]="resourceType"
         nbInput
         type="text"
         (input)="onChangeRT()"
         placeholder="Select Resource Type"
         [nbAutocomplete]="autoRT"/>

  <nb-autocomplete #autoRT (selectedChange)="onSelectionChangeRT($event)">

    <nb-option *ngFor="let option of filteredOptionsRT$ | async" [value]="option">
      {{ option }}
    </nb-option>

  </nb-autocomplete>
</div>
<div>
  <input #resourceInput
         [(ngModel)]="resourceName"
         nbInput
         type="text"
         (input)="onChange()"
         placeholder="Select Resource"
         [nbAutocomplete]="auto"/>

  <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">

    <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
      {{ option }}
    </nb-option>

  </nb-autocomplete>
</div>
